{% extends 'base/base.html' %}
{% block title %}投资者查询服务系统-中国期货市场监控中心{% endblock %}
{% block script %}
<style>
.info_body tr{border:1px solid #999;}
.info_body td,th{ border:0px;height:40px; }
.transaction_time { color:red; }
</style>
<script language="JavaScript">
   javascript:window.history.forward(1);
</script>
{% endblock %}
{% block center_cen %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>


<!--<div align="center">-->
    <!--<form action="{% url 'cfmmc_data' %}" method="GET">-->
<!--开始日期：<input type="date" name="start_date" value="{{start_date}}">&nbsp;&nbsp;-->
<!--结束日期：<input type="date" name="end_date" value="{{end_date}}">&nbsp;&nbsp;-->
<!--<input type="submit" value="下载数据">&nbsp;&nbsp;-->
<!--</form>-->

<!--<br/><hr/><br/>-->
    {% include 'base/cfmmc_form.html' %}
<br/>
    <div align="center" class="info_body">
    <table border="1">
        <tr><th>合约&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th><th>成交序号&nbsp;&nbsp;&nbsp;&nbsp;</th><th>成交时间&nbsp;&nbsp;</th><th>买/卖&nbsp;&nbsp;</th><th>投机/套保&nbsp;&nbsp;</th>
            <th>成交价&nbsp;&nbsp;</th><th>手数&nbsp;&nbsp;</th><th>成交额&nbsp;&nbsp;</th><th>开/平&nbsp;&nbsp;</th><th>手续费&nbsp;&nbsp;</th>
            <th>平仓盈亏&nbsp;&nbsp;</th><th>实际成交日期&nbsp;&nbsp;&nbsp;&nbsp;</th><th>帐号&nbsp;&nbsp;&nbsp;&nbsp;</th><th>交易日期&nbsp;&nbsp;</th></tr>
        {% for i in trade %}
        <tr><td>{{i.0}}</td><td>{{i.1}}</td><td><span class="transaction_time">{{i.2}}</span></td><td>{{i.3}}</td><td>{{i.4}}</td>
            <td>{{i.5}}</td><td>{{i.6}}</td><td>{{i.7}}</td><td>{{i.8}}</td><td>{{i.9}}</td>
            <td>{{i.10}}</td><td>{{i.11}}</td><td>{{i.12|truncatechars:9}}</td><td>{{i.13}}</td>
        </tr>
        {% endfor %}
    </table>

    </div>


<!--</div>-->
<script>
    var success = '{{success}}';
    var user_name = '{{user_name}}'!='None';
    var is_cfmmc_login = '{{is_cfmmc_login}}';
    if(user_name && success=='success' && confirm('是否希望保存用户信息到我的账户，以便下次登录？')){

			$.get("{% url 'cfmmc_save' %}",{"type":"save"},function(res){
			    if(res=='yes'){
			        alert('保存成功!');
			    }else{
			        alert('保存失败!');
			    }
			});
    }
    if(is_cfmmc_login=='no'){
        var host=prompt("您没有登录期货监控系统，如果您不希望登录期货监控系统，请在此输入您的用户名查询您之前保存的数据：");
        if(host!=null && host.trim()!=''){
            location.href="{% url 'cfmmc_data_page' %}?host="+host;
        }
    }
    function request(type){
        var start_date=$("#start_date").val();
        var end_date=$("#end_date").val();
        var code_name=$("select[name='code_name']").val();
        var when = $("input[name='when']:checked").val();
        if(type=='data'){
            location.href="{% url 'cfmmc_data_page' %}?start_date="+start_date+"&end_date="+end_date+"&code_name="+code_name+"&when="+when;
        }else if(type=='tu'){
            if('dwmy'.indexOf(when)>=0){
                open("{% url 'cfmmc_huice' %}"+when+"{{ host_id }}");
            }else{
                var post = $("#cfmmc_huice_post");
                post.attr('action','{% url 'cfmmc_huice' %}');
                post.attr('target','_blank');
                post.submit();
            }
        }else if(type=='bs'){//when=y&host=1001&code=J1901&ttype=1D
            if('dwmy'.indexOf(when)>=0){
                code_name = code_name=='1'?'{{ trade.0.0 }}':code_name;
                open("{% url 'cfmmc_bs' %}"+when+"{{ host_id }}_"+code_name);
            }else{
                var post = $("#cfmmc_huice_post");
                post.attr('action','{% url 'cfmmc_bs' %}');
                post.attr('target','_blank');
                post.submit();
            }
            //window.open("{% url 'cfmmc_bs' %}?code={{trade.0.0}}"+"&start_date="+start_date+"&end_date="+end_date);
        }/*else if(type=='hc'){
            var post = $("#cfmmc_huice_post");
            post.attr('action','{% url 'cfmmc_hc' %}');
            post.attr('target','_blank');
            post.submit();
        }*/
    }


var download_success = null;
function cfmmc_isdownload_data(){
    $.get("{% url 'cfmmc_isdownload_data' %}","",function(res){
        if(res=='not_login'){
            clearInterval(download_success);
        }else if(res!='no'&&res.indexOf('日')<0){
            $("#logins_infos").css('display','').html(res);
            setTimeout(function(){
                $("#logins_infos").css('display','none');
            },6000);
            clearInterval(download_success);
        }
    });
}
download_success = setInterval("cfmmc_isdownload_data()",3000)
</script>
{% endblock %}
