{% extends 'base/base.html' %}
{% block title %}国信交易{% endblock %}
{% block script %}
<style>
    .button {
    display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% 'Microsoft yahei',Arial, Helvetica, sans-serif;
	padding: .3em 1em .3em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-right:10px;
}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	width:90px;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

tr{border:1px solid #999;}
td,th{ border:0px;height:40px; }
</style>
{% endblock %}
{% block center_cen %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
<div align="center">
    <form action="">
开始日期：<input type='date' value={{start_date}} id='start_date'>&nbsp;&nbsp;结束日期：<input type='date' value={{end_date}} id='end_date'>
 <div style="margin-left:43%;"><br/>

     <input type="button" onclick="javascript:request('ys')" class="button green" value="原始数据">
    <input type="button" onclick="javascript:request('js')" class="button green" value="计算数据">
     <input type="button" onclick="javascript:request('tu')" class="button green" value="统计图">
 </div>
        <a style="position:relative;left:10px;" href="{% url 'gxjy' %}?type=sx" ><img width="30" src="{% static 'images/b9.ico' %}" title="刷新"></a>
</form><br/>
    <!--<a href="javascript:myajaxs({% url 'gxjy' %})">原始数据</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
    <!--<a href="javascript:myajaxs('/gxjy/?type=js')">计算数据</a>（<a href="javascript:myajaxs('/gxjy/?type=js&group=date')">日期分组</a>）&nbsp;&nbsp;&nbsp;&nbsp;-->
    <!--<a href="javascript:myajaxs('/gxjy/?type=tjt')">统计图</a>&nbsp;&nbsp;&nbsp;&nbsp;-->
    <!--<a href="{% url 'gxjy' %}?type=sx">刷新</a>&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/><br/><br/>-->
    <div id="data_is_ajax" align="center">
    <table border="1" cellspacing="0" cellpadding="0">
        {% if hys %}
        <tr><th colspan="22" style="font-size:20px;">交易汇总</th></tr>
        <tr><th>名称&nbsp;&nbsp;</th><th>合约&nbsp;&nbsp;</th><th>时间&nbsp;&nbsp;</th><th>开仓&nbsp;&nbsp;</th><th>当前价&nbsp;&nbsp;</th><th>持仓&nbsp;&nbsp;</th><th>原始成本&nbsp;&nbsp;</th><th>会话成本&nbsp;&nbsp;</th><th>净会话成本&nbsp;&nbsp;</th><th>此笔盈利&nbsp;&nbsp;</th><th>会话盈利&nbsp;&nbsp;</th>
            <th>总盈利&nbsp;&nbsp;</th><th>总平均盈利&nbsp;&nbsp;</th><th>会话平均盈利&nbsp;&nbsp;</th><th>持仓成本&nbsp;&nbsp;</th><th>净持仓成本&nbsp;&nbsp;</th><th>利润&nbsp;&nbsp;</th><th>净利润&nbsp;&nbsp;</th><th>净平均利润&nbsp;&nbsp;</th><th>手续费&nbsp;&nbsp;</th><th>已平仓&nbsp;&nbsp;</th><th>序号</th></tr>
        {% for i in hys %}
        <tr bgcolor="{% cycle '#aaf' '#ccf' %}" style="font-size:14px;"><td><a href="{% url 'gxjy' %}?type=js&code={{i.0}}" style="color:blue;">{{i.22}}</a></td>
            <td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td><td>{{i.3}}</td><td>{{i.4}}</td><td>{{i.5}}</td><td>{{i.6}}</td>
            <td>{{i.7}}</td><td>{{i.8}}</td><td>{{i.9}}</td><td>{{i.10}}</td><td>{{i.11}}</td><td>{{i.12}}</td><td>{{i.13}}</td>
            <td>{{i.14}}</td><td>{{i.15}}</td><td>{{i.16}}</td><td>{{i.17}}</td><td>{{i.18}}</td><td>{{i.19}}</td><td>{{forloop.counter}}</td></tr>
        {% endfor %}
        <tr><th colspan="22" style="font-size:20px;">交易详情</th></tr>
        <tr><th>名称</th><th>合约</th><th>时间</th><th>开仓</th><th>当前价</th><th>持仓</th><th>原始成本</th><th>会话成本</th><th>净会话成本</th><th>此笔盈利</th><th>会话盈利</th>
        <th>总盈利</th><th>总平均盈利</th><th>会话平均盈利</th><th>持仓成本</th><th>净持仓成本</th><th>利润</th><th>净利润</th><th>净平均利润</th><th>手续费</th><th>已平仓</th><th>序号</th></tr>
        {% for i in data %}
        <tr bgcolor="{% if i.21 == 0 %}'#aaf'{% else %}'#ccf'{% endif %}" style="font-size:14px;"><td><a href="{% url 'gxjy' %}?type=js&code={{i.0}}" style="color:blue;">{{i.22}}</a></td>
            <td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td><td>{{i.3}}</td><td>{{i.4}}</td><td>{{i.5}}</td><td>{{i.6}}</td>
            <td>{{i.7}}</td><td>{{i.8}}</td><td>{{i.9}}</td><td>{{i.10}}</td><td>{{i.11}}</td><td>{{i.12}}</td><td>{{i.13}}</td>
            <td>{{i.14}}</td><td>{{i.15}}</td><td>{{i.16}}</td><td>{{i.17}}</td><td>{{i.18}}</td><td>{{i.19}}</td><td>{{i.20}}&nbsp;&nbsp;{{forloop.counter}}</td></tr>
        {% endfor %}
        {% elif init_data %}
        <tr><th colspan="18" style="font-size:20px;">交易数据</th></tr>
        <tr><th>成交时间&nbsp;&nbsp;</th><th>交易所&nbsp;&nbsp;</th><th>合约号&nbsp;&nbsp;</th><th>买卖&nbsp;&nbsp;</th><th>开平仓&nbsp;&nbsp;</th><th>成交手数&nbsp;&nbsp;</th>
            <th>成交价格&nbsp;&nbsp;</th><th>手续费&nbsp;&nbsp;</th><th>交易费&nbsp;&nbsp;</th><th>交易编码&nbsp;&nbsp;</th><th>席位号&nbsp;&nbsp;</th><th>系统编号&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>成交号&nbsp;&nbsp;</th><th>投保&nbsp;&nbsp;</th><th>交割期&nbsp;&nbsp;</th><th>交易币种&nbsp;&nbsp;</th><th>名称&nbsp;&nbsp;</th><th>序号&nbsp;&nbsp;</th></tr>
        {% for i in init_data %}
        <tr><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2}}</td><td>{{i.3}}</td><td>{{i.4}}</td><td>{{i.5}}</td><td>{{i.6}}</td><td>{{i.7}}</td>
            <td>{{i.8}}</td><td>{{i.9}}</td><td>{{i.10}}</td><td>{{i.11}}</td><td>{{i.12}}</td><td>{{i.13}}</td><td>{{i.14}}</td><td>{{i.15}}</td>
            <td><a href="{% url 'gxjy' %}?code={{i.2}}" style="color:blue;">{{i.16}}</a></td><td>{{forloop.counter}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

  </div>
    {% if zx_x %}
    <div align="center">
        <div style="position:absolute;left:100px;Z-index:100;">
            <table width="630">
                <tr style="cursor:pointer;">
                    <td id="tuxian1">累积净值</td>
                    <td id="tuxian2">累积盈亏</td>
                    <td id="tuxian3">成交偏好</td>
                    <td id="tuxian4">品种盈亏</td>
                    <td id="tuxian5">每周盈亏</td>
                    <td id="tuxian6">每月盈亏</td>
                    <td id="tuxian7">账号余额</td>
                </tr>
            </table>
        </div>
        <div id="zhexiantu" style="width:auto;height:600px"></div>
    </div>

    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
 <script type="text/javascript">
 var tu_name;

// 实现随机生成十六进制颜色值
function getColor(){
  //定义字符串变量colorValue存放可以构成十六进制颜色值的值
  var colorValue="0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F";
  //以","为分隔符，将colorValue字符串分割为字符数组["0","1",...,"f"]
  var colorArray = colorValue.split(",");
   var color="#";//定义一个存放十六进制颜色值的字符串变量，先将#存放进去
    //使用for循环语句生成剩余的六位十六进制值
   for(var i=0;i<6;i++){
        //colorArray[Math.floor(Math.random()*16)]随机取出
       // 由16个元素组成的colorArray的某一个值，然后将其加在color中，
       //字符串相加后，得出的仍是字符串
        color+=colorArray[Math.floor(Math.random()*16)];
   }
   return color;
}

function huatu(type,zx_x,zx_y,zx_y2){
var myChart = echarts.init(document.getElementById('zhexiantu'));

if(type=='line'){
myChart.clear();
option = {
/*
title:{
    text:"统计图",
    textStyle:{
        color:'#00A600',
        fontSize:18
    }
},*/
color:["#FF0000"],
tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: zx_x
        },
toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
    xAxis: {
        type: 'category',
        data: zx_x
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        name: tu_name[0],
        type: 'line',
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: '#ff6a4a',
                lineStyle: { color: '#ff6a4a' }
            }
        },
        data: zx_y
    },{
        name: tu_name[1],
        type: 'line',
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: '#61b7ec', // rgb(97,183,236)
                lineStyle: { color: '#61b7ec' }
            }
        },
        data: zx_y2
    }]
};
}else if(type=='pie'){
    myChart.clear();
    option = {
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'horizontal', //'vertical',
        //x : '80%',
        y : '80%',
        data:zx_x
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true,
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'成交量',
            type:'pie',
            radius : '40%',
            center: ['50%', '50%'],
            data:zx_y
        }
    ]
};
}else if(type=='bar'){
myChart.clear();
var colorList = [
                  '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                   '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                   '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                ];
if(colorList.length<zx_x.length){
    var wh = 0;
    var _sizes = zx_x.length-colorList.length;
    while(wh<_sizes){
        var col = getColor();
        if(colorList.indexOf(col)<0 && col!="#FFFFFF"){
            colorList.push(col);
            wh ++;
        }
    }
}
option ={
    //backgroundColor:'#fdfdfd', // 背景颜色
    tooltip: {},
    xAxis: {
        type: 'category',
        data: zx_x,

    },
    yAxis: {
        type: 'value',
    },
    /*series: [{
        name: '名称',
        type: 'bar',
        data: zx_y
    }],*/
    series: [
        {
            name: '品种净盈亏',
            type: 'bar',
            barMaxWidth: 40, // 柱子的最大宽度
            // barCateGoryGap: 20,
            itemStyle: {
                normal: {
                    color: function(params) {
                        // build a color map as your need.
                        return colorList[params.dataIndex]
                    },
                    label: {
                        show: true,
                        position: 'top',
                        formatter: '{b}\n{c}'
                    }
                }
            },
            data: zx_y,
            markPoint: {
                tooltip: {
                    trigger: 'item',
                    backgroundColor: 'rgba(0,0,0,0)',
                    formatter: function(params){
                        return '<img src="'
                                + params.data.symbol.replace('image://', '')
                                + '"/>';
                    }
                },

            }
        }
    ],
    label:{
        normal:{
            show:true,
            position:'top'
        }
    }
};
}

myChart.setOption(option);
}

function tuxiancolor(id){
    var id2 = "";
    for(var i=1;i<=7;i++){
        id2 = "#tuxian"+i;
        if(id2==id){
        $("#tuxian"+i).css({"background-color":"#ff6a4a","width":"40px","color":"#f5f5f5"});
        }else{
        $("#tuxian"+i).css({"background-color":"#2b2b2b","width":"40px","color":"#f5f5f5"});
        }
    }
    if(id=='#tuxian1'){
        tu_name=["累积净值",""];
        huatu("line",{{zx_x|safe}},{{hc.alljz|safe}},'');
    }else if(id=='#tuxian2'){
        tu_name=["累积利润","累积手续费"];
        huatu("line",{{zx_x|safe}},{{hc.allyk|safe}},{{hc.allsxf|safe}});
    }else if(id=='#tuxian3'){
        tu_name=["成交偏好","",""];
        huatu("pie",{{hc.pie_name|safe}},{{hc.pie_value|safe}},"");
    }else if(id=='#tuxian4'){
        tu_name=["品种盈亏","",""];
        huatu("bar",{{hc.bar_name|safe}},{{hc.bar_value|safe}},"");
    }else if(id=='#tuxian5'){
        tu_name=["每周盈亏","",""];
        huatu("bar",{{hc.week_name|safe}},{{hc.week_value|safe}},"");
    }else if(id=='#tuxian6'){
        tu_name=["每月盈亏","",""];
        huatu("bar",{{hc.month_name|safe}},{{hc.month_value|safe}},"");
    }else if(id=='#tuxian7'){
        tu_name=["账号余额","入金",""];
        huatu("line",{{zx_x|safe}},{{hc.amount|safe}},{{hc.eae|safe}});
    }
}
$("#tuxian1").click(function(){
    tuxiancolor("#tuxian1");
});
$("#tuxian2").click(function(){
    tuxiancolor("#tuxian2");
});
$("#tuxian3").click(function(){
    tuxiancolor("#tuxian3");
});
$("#tuxian4").click(function(){
    tuxiancolor("#tuxian4");
});
$("#tuxian5").click(function(){
    tuxiancolor("#tuxian5");
});
$("#tuxian6").click(function(){
    tuxiancolor("#tuxian6");
});
$("#tuxian7").click(function(){
    tuxiancolor("#tuxian7");
});

tuxiancolor("#tuxian1");

</script>
    </div>
{% endif %}
    <script>
function request(type){
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
    if(type=='ys'){
        url = "{% url 'gxjy' %}"+"?start_date="+start_date+"&end_date="+end_date;
    }else if(type=='js'){
        url = "{% url 'gxjy' %}?type=js"+"&start_date="+start_date+"&end_date="+end_date;
    }else if(type=='tu'){
        url = "{% url 'gxjy' %}?type=tjt"+"&start_date="+start_date+"&end_date="+end_date;
    }
    location.href = url;
}

function myajaxs(url){
        var start_date = $("#start_date").val();
        var end_date = $("#end_date").val();
        var datas = {'start_date':start_date,'end_date':end_date};
        $.ajax({
            type: 'GET',
            url: url,
            data: datas,
            dataType: 'json',
            success: function(res){
                if(res.init_data){
                    var data = res.init_data;
                    var html="<table border='1'>";
                    html += "<tr style='width:1000px;'><th colspan='18' style='font-size:20px;'>交易数据</th></tr>";
                    html += "<tr><th>成交时间</th><th>交易所</th><th>合约号</th><th>买卖</th><th>开平仓</th><th>成交手数</th><th>成交价格</th><th>手续费</th>"
                    html += "<th>交易费</th><th>交易编码</th><th>席位号</th><th>系统号</th><th>成交号</th><th>投保</th><th>交割期</th><th>币种</th><th>名称</th><th>序号</th></tr>"
                    for (var i=0;i<data.length;i++){
                        html += i%2==0? "<tr bgcolor='#aaf'>": "<tr bgcolor='#ccf'>";
                        for (var j=0;j<data[i].length;j++){
                            if(j==data[i].length-1){
                                html += "<td><a href='{% url 'gxjy' %}?code="+data[i][2]+"' style='color:blue;'>"+data[i][j]+"</a></td>";
                                html += "<td>"+(i+1)+"</td>";
                            }else{
                                html += "<td>"+data[i][j]+"</td>";
                            }
                        }
                        html += "</tr>";
                    }
                    html += "</table>";
                    $("#zhexiantu").css('display','none');
                    $("#data_is_ajax").css("align","center");
                    $("#data_is_ajax").html(html); //append(res.data);
                }else if(res.data){
                    var hys = res.hys;
                    var data = res.data;
                    var html = "<table border='1'><tr><th colspan='22' style='font-size:20px;'>交易汇总</th></tr>";
                    html += "<tr><th>名称</th><th>合约</th><th>时间</th><th>开仓</th><th>当前价</th><th>持仓</th><th>原始成本</th>";
                    html += "<th>会话成本</th><th>净会话成本</th><th>此笔盈利</th><th>会话盈利</th><th>总盈利</th><th>总平均盈利</th>";
                    html += "<th>会话平均盈利</th><th>持仓成本</th><th>净持仓成本</th><th>利润</th><th>净利润</th><th>净平均利润</th>";
                    html += "<th>手续费</th><th>已平仓</th><th>序号</th></tr>";
                    for(var i=0;i<hys.length;i++){
                        html += i%2==0? "<tr bgcolor='#aaf'>": "<tr bgcolor='#ccf'>";
                        html += "<td><a href='{% url 'gxjy' %}?type=js&code="+hys[i][0]+"' style='color:blue;'>"+hys[i][22]+"</a></td>";
                        for (var j=0;j<hys[i].length-4;j++){
                            html += "<td>"+hys[i][j]+"</td>";
                        }
                        html += "<td>"+(i+1)+"</td></tr>";
                    }
                    html += "<tr><th colspan='22' style='font-size:20px;'>交易详情</th></tr>";
                    html += "<tr><th>名称</th><th>合约</th><th>时间</th><th>开仓</th><th>当前价</th><th>持仓</th><th>原始成本</th>";
                    html += "<th>会话成本</th><th>净会话成本</th><th>此笔盈利</th><th>会话盈利</th><th>总盈利</th><th>总平均盈利</th>";
                    html += "<th>会话平均盈利</th><th>持仓成本</th><th>净持仓成本</th><th>利润</th><th>净利润</th><th>净平均利润</th>";
                    html += "<th>手续费</th><th>已平仓</th><th>序号</th></tr>";
                    for(var i=0;i<data.length;i++){
                        html += data[i][21]%2==0? "<tr bgcolor='#aaf'>": "<tr bgcolor='#ccf'>";
                        html += "<td>"+data[i][22]+"</td>";
                        for (var j=0;j<data[i].length-3;j++){
                            if(j<data[i].length-4){
                                html += "<td>"+data[i][j]+"</td>";
                            }else{
                                html += "<td>"+data[i][j]+"&nbsp;&nbsp;"+(i+1)+"</td>";
                            }
                        }
                        html += "</tr>";
                    }
                    html += "</table>";
                    $("#zhexiantu").css('display','none');
                    $("#data_is_ajax").html(html);
                }else if(res.zx_x){
                    var zx_x=[],zx_y=[],zx_x2 = res.zx_x,zx_y2 = res.zx_y;
                    for(var i=0;i<zx_x2.length;i++){
                        zx_x.push(zx_x2[i]);
                        zx_y.push(zx_y2[i]);
                    }
                    $("#data_is_ajax").html('');
                    $("#zhexiantu").css('display','block');
                    myzhexiantu(zx_x,zx_y);
                }
            },
            error: function (errorMsg) {
                //alert("no!");
        }
        });
}
</script>

{% endblock %}