{% extends 'base/base.html' %}
{% block title %}回测{% endblock %}
{% block center_cen %}
    {% load staticfiles %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>


<link rel="stylesheet" type="text/css" href="{% static 'css/fx-mins.css' %}" title="default"/>


<link rel="stylesheet" href="{% static 'css/jquery-ui-1.8.21.custom.css' %}">


<link href="{% static 'css/cookieconsent.min.css' %}" rel="stylesheet" type="text/css" />


<div id="leftColumn" class="relative" style="position:absolute;left:20%;top:140px;">
                    <div class="floatLeft marginB10">
<div class="ds1">
    <div class="ds2">
        <div class="ds3">
            <div class="ds4">
                <div class="ds5">
                    <div class="ds6">
                        <div class="box_cont" style="width:195px; height:348px">
                            <div class="boxTitle">
                                <ul class="titleNav">
                                    <li class="bold">信息</li>
                                    <li class="on" onclick="switchTab('tabs9','stats',this);">统计</li>
                                    <li class="off" onclick="switchTab('tabs9','gen',this);">一般</li>
                                </ul>
                            </div>

                            <ul class="quickStats" id="stats" style="">
                                <li class="font12 bold"><span class="floatLeft dotted" id="gainTip">获利:</span>
                                    <span class="floatNone"><span class="red">{{hc.hlbfb|floatformat:"2"}}%</span></span></li>
                                <li class="paddB5 borderB"><span class="floatLeft dotted" id="absGainTip">绝对收益:</span>
                                    <span class="floatNone"><span class="red">{{hc.hlbfb|floatformat:"2"}}%</span></span></li>

                                <li class="paddT5"><span class="floatLeft dotted" id="dailyTip">天: </span><span class="floatNone">{{hc.dhl|floatformat:"2"}}%</span></li>
                                <li><span class="floatLeft dotted" id="monthlyTip">每月: </span><span class="floatNone">{{hc.mhl|floatformat:"2"}}%</span></li>
                                <li class="paddB5 borderB"><span class="floatLeft">资金回撤: </span><span class="floatNone">{{hc.zjhc|floatformat:"2"}}%</span></li>

                                <li class="paddT5"><span class="floatLeft">余额:</span><span class="floatNone"> ${{hc.ye|floatformat:"2"}}</span></li>
                                <li><span class="floatLeft">净值:</span><span class="floatNone">  ${{hc.ye|floatformat:"2"}} </span></li>
                                <li><span class="floatLeft">最高:</span><span class="floatNone">${{hc.max_jz|floatformat:"2"}}</span>
                                </li>

                                <li><span class="floatLeft">利润:</span><span class="floatNone"> <span class="red">${{huizong.yk|floatformat:"2"}}</span> </span></li>
                                <li class="borderB paddB5"><span class="floatLeft">利息:</span><span class="floatNone">$0.00</span></li>
                                <li class="paddT5"><span class="floatLeft">入金:</span><span class="floatNone"> ${{init_money}}</span></li>
                                <li class="paddB5 borderB"><span class="floatLeft">取款:</span><span class="floatNone">$0.00</span></li>
                                <li class="paddB5 paddT5"><span class="floatLeft">交易天数:</span><span class="floatNone" id="lastUpdatedTime" time="1525253295000">{{hc.jyts}}</span></li>
                                <li>
                                        <span class="floatLeft">交易者</span><span class="floatNone" id="totalTracking">{{hc_name}}</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="floatLeft" style="width:660px;">
    


<!--<div class="ds1">-->
    <!--<div class="ds2">-->
        <!--<div class="ds3">-->
            <!--<div class="ds4">-->
                <!--<div class="ds5">-->
                    <!--<div class="ds6">-->
                        <div class="box_cont" style="height:348px" id="huicetuall">
                            <div style="font-size:14px;cursor:pointer;"><span id="tuxian1">增长率</span>&nbsp;&nbsp;
                                <span id="tuxian2">余额</span>&nbsp;&nbsp;
                                <span id="tuxian3">利润</span>&nbsp;&nbsp;
                                <span id="tuxian4">资金回测</span>&nbsp;&nbsp;
                                <span id="fangda" style="float:right;margin-left:10px;margin-right:10px;"><img src="{% static 'images/b1.ico' %}" width="15" height="15" title="放大"></span>
                                <span id="suoxiao" style="float:right;"><img src="{% static 'images/b2.ico' %}" width="15" height="15" title="缩小"></span>
                                <!--<span id="tuxian5">当天盈亏</span>-->
                            </div>
                                <div id="zhexiantu" style="width: 658;height: 318px;"></div>
                           </div>
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


</div>
<div class="floatLeft" style="width:877px" align="center">
  
    
            
<div class="ds1 marginB10" id="tradingContDiv">
    <div class="ds2">
        <div class="ds3">
            <div class="ds4">
                <div class="ds5">
                    <div class="ds6">
                        <div class="box_cont">
                            <div class="boxTitle relative" id="advancedTitle2">

                                                            <ul class="titleNav">
                                    <li class="bold">交易</li>
                                    
                                                            </ul>
                            </div>


                           

                            <div style="position:relative;z-index:103">
                                <div id="dailyGoalsEdit" style="display:none;margin-left:170px;width:500px" class="marginT30 absolute border7 whiteBG windowh ui-draggable" onmousedown="this.style.cursor='move'" onmouseup="this.style.cursor=''">
                                                                
<br>



                            </div>

                            

                            <div id="tradeBrowser" class="relative" style="">
                               
<div id="periods" style="">
                                <table class="table maxWidth marginT5 center">
                                    <tbody><tr class="font10 lh20">
                                        <th>时间区间</th>
                                        <th class="boldNone">获利 (Difference)</th>
                                        <th class="boldNone">利润 (Difference)</th>
                                        <th class="boldNone">点 (Difference)</th>
                                        <th class="boldNone">Win % (Difference)</th>
                                        <th class="boldNone">交易 (Difference)</th>
                                        <th class="boldNone">    手 (Difference)</th>
                                    </tr>
                                    <tr class="bg1">
                                        
                                        <td class="paddL10" align="left">一天</td>
                                            <td><span class="green">{{hc.this_day.0|floatformat:"2"}}%</span> </td>
                                            <td>${{hc.this_day.1|floatformat:"2"}} </td>
                                            <td>{{hc.this_day.2|floatformat:"2"}} </td>
                                            <td>{{hc.this_day.3|floatformat:"2"}}% </td>
                                            <td>{{hc.this_day.4}} </td>
                                            <td>{{hc.this_day.5}} </td>
                                                                            </tr>
                                    <tr>
                                        <td class="paddL10" align="left">一星期</td>
                                            <td><span class="green">{{hc.this_week.0|floatformat:"2"}}%</span> </td>
                                            <td>${{hc.this_week.1|floatformat:"2"}} </td>
                                            <td>{{hc.this_week.2|floatformat:"2"}} </td>
                                            <td>{{hc.this_week.3|floatformat:"2"}}% </td>
                                            <td>{{hc.this_week.4}} </td>
                                            <td>{{hc.this_week.5}} </td>
                                        
                                    </tr>
                                    <tr class="bg1">
                                        <td class="paddL10" align="left">一个月</td>
                                            <td><span class="green">{{hc.this_month.0|floatformat:"2"}}%</span> </td>
                                            <td>${{hc.this_month.1|floatformat:"2"}}</td>
                                            <td>{{hc.this_month.2|floatformat:"2"}}</td>
                                            <td>{{hc.this_month.3|floatformat:"2"}}% </td>
                                            <td>{{hc.this_month.4}}</td>
                                            <td>{{hc.this_month.5}}</td>
                                                                            </tr>
                                    <tr>
                                        <td class="paddL10" align="left">一年</td>
                                            <td><span class="red">{{hc.this_year.0|floatformat:"2"}}%</span> <span class="gray">( - )</span></td>
                                            <td><span class="red">{{hc.this_year.1|floatformat:"2"}}</span> <span class="gray">( - )</span></td>
                                            <td><span class="red">{{hc.this_year.2|floatformat:"2"}}</span> <span class="gray">( - )</span>
                                            </td>
                                            <td>{{hc.this_year.3|floatformat:"2"}}% <span class="gray">( - )</span></td>
                                            <td>{{hc.this_year.4}} <span class="gray">( - )</span></td>
                                            <td>{{hc.this_year.5}} <span class="gray">( - )</span></td>
                                                                            </tr>

                                </tbody></table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ds1">
<div class="ds2">
<div class="ds3">
<div class="ds4">
<div class="ds5">
<div class="ds6">
<div class="box_cont">
<div class="boxTitle relative" id="advancedTitle">
    

  <ul class="titleNav">
        <li class="bold">高级统计数据</li>
        
    </ul>
</div>
        <table class="maxWidth" id="trades" style="" cellspacing="0">
    <tbody><tr>
    <td valign="top">
        <table class="advanced border0L" cellspacing="0">
            <tbody><tr class="bg1">
                <td>交易:</td>
                <td class="alignR">{{huizong.zl}}</td>
            </tr>
            <tr>
                <td>盈利的:</td>
                <td class="pointer" align="right">
                            <span id="wonTip" class="在42笔交易中，正确21笔，获胜率为50<br/>在42笔交易中发生亏损21笔，亏损比例为50"><div class="blockHolder">
                                <div class="greenBlock floatLeft" style="width:{{huizong.shenglv}}px;"></div>
                                <div class="redBlock floatLeft" style="width:{{ huizong.kuilv }}px;"></div>
                            </div></span>
                </td>
            </tr>
                
            <tr class="bg1">
                <td>点:</td>
                <td class="alignR">{{huizong.yk|floatformat:"2"}}</td>
            </tr>
                
            <tr>
                <td>总/平均获利:</td>
                <td class="alignR">{{ hc.alllr|floatformat:2 }} / ${{ hc.avglr|floatformat:2 }}</td>
            </tr>
            <tr class="bg1">
                <td>总/平均损失</td>
                <td class="alignR">{{ hc.allss|floatformat:2 }} / -${{ hc.avgss|floatformat:2 }}</td>
            </tr>
            <tr>

                <td>    手:</td>
                <td class="alignR">{{huizong.zl}}</td>
            </tr>
            <tr class="bg1">
                <td>委员会:</td>
                <td class="alignR">$0.00</td>
            </tr>


                                        </tbody></table>
            </td>
            <td valign="top">
                <table class="advanced border0R border0L" cellspacing="0">
                    <tbody><tr>
                        <td>成功的做多交易:</td>
                        <td align="right">
                            <span class="gray">({{hc.cgzd.0}}/{{hc.cgzd.1}}) </span> {{hc.cgzd.2}}%
                            </td>
                    </tr>
                    <tr class="bg1">
                        <td>成功的做空交易:</td>
                        <td align="right">
                            <span class="gray">({{hc.cgzk.0}}/{{hc.cgzk.1}}) </span> {{hc.cgzk.2}}%
                            </td>
                    </tr>


                    <tr>
                        <td>最佳交易($):</td>
                        <td class="alignR">                             <span class="gray">({{huizong.most.0}})</span> {{huizong.most.1|floatformat}}
                        </td>
                    </tr>
                    <tr class="bg1">
                        <td> 最差交易($):</td>
                        <td class="alignR">                            <span class="gray">({{huizong.least.0}})</span> {{huizong.least.1|floatformat}}
                        </td>
                    </tr>
                    <tr>
                        <td>最好的交易（按照点数计算）</td>
                        <td class="alignR">                            <span class="gray">({{huizong.most2.0}})</span> {{huizong.most2.1|floatformat}}
                        </td>
                    </tr>
                    <tr class="bg1">
                        <td>最坏的交易（点数）</td>
                        <td class="alignR">                            <span class="gray">({{huizong.least2.0}})</span> {{huizong.least2.1|floatformat}}
                        </td>
                    </tr>

                    <tr>
                        <td>平均持仓时间:</td>
                        <td class="alignR">{{hc.ccsj}}</td>
                    </tr>

                                        </tbody></table>
            </td>
            <td>
                <table class="advanced border0R" cellspacing="0">
                    <tbody><tr class="bg1">
                        <td><span class="dotted" id="pfTip">利润因子:</span></td>
                        <td class="alignR">{{hc.lryz}}</td>
                    </tr>
                    <tr>
                        <td><span class="dotted" id="sdTip">标准差:</span></td>
                        <td class="alignR">${{hc.std}}</td>
                    </tr><tr class="bg1">
                                                                <td><span class="dotted" id="sharpTip">最大盈利（点）:</span></td>
                                                 <td class="alignR">
                                                     {{ huizong.max_yl }}
                                                 </td>
                                            </tr>


                    <tr>
                        <td><span class="dotted" id="zTip">最大亏损（点）:</span></td>
                        <td class="alignR">
                            {{ huizong.max_ks }}
                        </td>
                    </tr>

                    <tr class="bg1">
                        <td><span class="dotted" id="expTip">期待:</span></td>
                        <td class="alignR">-732.2 点 / -$7.32</td>
                    </tr>
                                                            <tr>
                                                                <td><span class="dotted" id="ahprTip">AHPR:</span></td>
                                                <td class="alignR">0.14%</td>
                                            </tr>
                     <tr class="bg1">
                                                                <td><span class="dotted" id="ghprTip">GHPR:</span></td>
                                                <td class="alignR">-0.15%</td>
                                            </tr>

                                        </tbody></table>
            </td>
        </tr>

    </tbody></table>

   
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
<div style="height:1000px;"></div>
{% if not hcd %}
<script type="text/javascript">
var tu_name;
function tuxiancolor(id){
    var id2 = "";
    for(var i=1;i<=4;i++){
        id2 = "#tuxian"+i;
        if(id2==id){
        $("#tuxian"+i).css({"background-color":"#ff6a4a","width":"40px","fontSize":"14px"});
        }else{
        $("#tuxian"+i).css({"background-color":"white","width":"40px","fontSize":"12px"});
        }
    }
    if(id=='#tuxian1'){
        tu_name=["增长率","手数"];
        huatu(tu_name,{{hc.zx_x|safe}},{{hc.zzl|safe}},{{hc.vol|safe}});
    }else if(id=='#tuxian2'){
        tu_name=["净值","手数"];
        huatu(tu_name,{{hc.zx_x|safe}},{{hc.dayye|safe}},{{hc.vol|safe}});
    }else if(id=='#tuxian3'){
        tu_name=["总利润","日利润"];
        huatu(tu_name,{{hc.zx_x|safe}},{{hc.zx_y|safe}},{{hc.daylr|safe}});
    }else if(id=='#tuxian4'){
        tu_name=["","资金回测（%）"];
        huatu(tu_name,{{hc.zx_x|safe}},null,{{hc.zjhcs|safe}});
    }
    <!--else if(id=='#tuxian5'){-->
        <!--tu_name=["收盘价（{{hc.qcbs}}）","当天每单盈亏（{{hc.samedatetime}}）"];-->
        <!--huatu(tu_name,{{hc.day_time|safe}},{{hc.day_close|safe}},{{hc.day_yk|safe}});-->
    <!--}-->
}
$("#tuxian1").click(function(){
    tuxiancolor("#tuxian1");
});
$("#tuxian2").click(function(){
    tuxiancolor("#tuxian2");
});
$("#tuxian3").click(function(){
    tuxiancolor("#tuxian3");
});
$("#tuxian4").click(function(){
    tuxiancolor("#tuxian4");
});
var winWidth=1490;
//获取窗口宽度
 if (document.documentElement  && document.documentElement.clientHeight && document.documentElement.clientWidth){
    winWidth  = document.documentElement.clientWidth;
    //winHeight = document.documentElement.clientHeight;
}

if(color_getCookie("hc_ck_div")=="fd"){
    $(".ds1").hide();
    $("#leftColumn").css("left","0");
    $("#huicetuall").css({"width":winWidth,"height":"710px"});
    $("#zhexiantu").css({"width":winWidth,"height":"680px"});
}else{
    $(".ds1").show();
    $("#huicetuall").css({"margin-left":"0","width":"658px","height":"348px"});
    $("#zhexiantu").css({"width":"658px","height":"318px"});
}

$("#fangda").click(function(){
    color_SetCookie("hc_ck_div","fd",1);
    location.reload();
});

$("#suoxiao").click(function(){
    color_SetCookie("hc_ck_div","sx",1);
    location.reload();
});

tuxiancolor("#tuxian1");

//var myChart = echarts.init(document.getElementById('zhexiantu'));

function huatu(tu_name,category,lineData,barData){

    var myChart = echarts.init(document.getElementById('zhexiantu'));

// var category = {{hc.zx_x|safe}};  // X轴
// var lineData = {{hc.zzl|safe}};   // 折线图Y轴
// var barData = {{hc.vol|safe}};   // 柱状图Y轴

var Xz = new Array();
for(var i=0;i<category.length;i++){
    Xz.push(0);
}

option = {
    backgroundColor: '#0f375f',
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross' //'shadow'
        }
    },
    legend: {
        data: tu_name,
        textStyle: {
            color: '#ccc'
        }
    },
    xAxis: {
        data: category,
        axisLine: {
            lineStyle: {
                color: '#ccc'
            }
        }
    },
    yAxis: [
        {
        name: tu_name[0],
        splitLine: {show: false},
        axisLine: {
            lineStyle: {
                color: 'red'
            }
        }
    },
        {
        name: tu_name[1],
        splitLine: {show: false},
        axisLine: {
            lineStyle: {
                color: '#28dcc9'
            }
        }
    }
    ],
    series: [{
        type: 'line',
        yAxisIndex: 1,
        symbol:'none',
        tooltip : {
            show:false
        },
        itemStyle: {
            normal: {
                //barBorderRadius: 'none',
                lineStyle: { color: '#ccc', width:1, type:'dotted' }
            }
        },
        data: Xz
    },{
        name: tu_name[0],
        type: 'line',
        yAxisIndex: 0,
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 4,
        color: 'red',
        itemStyle: {
            normal: {
                color: 'red',
                lineStyle: { color: 'red' }
            }
        },
        data: lineData
    }, {
        name: tu_name[1],
        type: 'bar',
        yAxisIndex: 1,
        barWidth: 2,
        itemStyle: {
            normal: {
                barBorderRadius: 2,
                color: function(params){
                    if(tu_name[1]!="日利润"){
                        return '#28dcc9';
                    }else if(params.value > 0){
                        return 'red';
                    }else{
                        return '#28dcc9';
                    }
                }
                /*new echarts.graphic.LinearGradient(
                    0, 0, 0, 1,
                    [
                        {offset: 0, color: '#14c8d4'},
                        {offset: 1, color: '#43eec6'}
                    ]
                )*/
            }
        },
        data: barData
    }]
};
myChart.setOption(option);
}
</script>
{% else %}
<script type="text/javascript">
var tu_name;
$("#tuxian1").text("盈 亏");
$("#tuxian2").text("余 额");
$("#tuxian3").text("利 润");
$("#tuxian4").text("回 测");
function tuxiancolor(id){
    var id2 = "";
    for(var i=1;i<=4;i++){
        id2 = "#tuxian"+i;
        if(id2==id){
        $("#tuxian"+i).css({"background-color":"#ff6a4a","width":"40px","fontSize":"14px"});
        }else{
        $("#tuxian"+i).css({"background-color":"white","width":"40px","fontSize":"12px"});
        }
    }
    if(id=='#tuxian1'){
        tu_name=["行情（{{hcd.subtracted}}）","盈亏","持仓（0.1手）","平仓盈亏"];
        huatu(tu_name,{{hcd.day_x|safe}},{{hcd.day_close|safe}},{{hcd.day_yk|safe}},{{hcd.vol|safe}},{{hcd.day_pcyk|safe}});
    }else if(id=='#tuxian2'){
        tu_name=["行情（{{hcd.subtracted}}）","利润",""];
        huatu(tu_name,{{hcd.day_x|safe}},{{hcd.day_close|safe}},{{hcd.day_ykall|safe}},"","");
    }else if(id=='#tuxian3'){
        tu_name=["行情（{{hcd.subtracted}}）","","利润",""];
        huatu(tu_name,{{hcd.day_x|safe}},{{hcd.day_close|safe}},"",{{hcd.day_pcyk|safe}},"");
    }else if(id=='#tuxian4'){
        tu_name=["资金回测（%）","","资金回测（%）",""];
        huatu(tu_name,{{hcd.day_x|safe}},{{hcd.zjhcs|safe}},null,{{hcd.zjhcs|safe}},"");
    }
    <!--else if(id=='#tuxian5'){-->
        <!--tu_name=["收盘价（{{hcd.qcbs}}）","当天每单盈亏（{{hcd.samedatetime}}）"];-->
        <!--huatu(tu_name,{{hcd.day_time|safe}},{{hcd.day_close|safe}},{{hcd.day_yk|safe}});-->
    <!--}-->
}
$("#tuxian1").click(function(){
    tuxiancolor("#tuxian1");
});
$("#tuxian2").click(function(){
    tuxiancolor("#tuxian2");
});
$("#tuxian3").click(function(){
    tuxiancolor("#tuxian3");
});
$("#tuxian4").click(function(){
    tuxiancolor("#tuxian4");
});
var winWidth=1490;
//获取窗口宽度
 if (document.documentElement  && document.documentElement.clientHeight && document.documentElement.clientWidth){
    winWidth  = document.documentElement.clientWidth;
    //winHeight = document.documentElement.clientHeight;
}

if(color_getCookie("hc_ck_div")=="fd"){
    $(".ds1").hide();
    $("#leftColumn").css("left","0");
    $("#huicetuall").css({"width":winWidth,"height":"710px"});
    $("#zhexiantu").css({"width":winWidth,"height":"680px"});
}else{
    $(".ds1").show();
    $("#huicetuall").css({"margin-left":"0","width":"658px","height":"348px"});
    $("#zhexiantu").css({"width":"658px","height":"318px"});
}

$("#fangda").click(function(){
    color_SetCookie("hc_ck_div","fd",1);
    location.reload();
});

$("#suoxiao").click(function(){
    color_SetCookie("hc_ck_div","sx",1);
    location.reload();
});

tuxiancolor("#tuxian1");

//var myChart = echarts.init(document.getElementById('zhexiantu'));


function huatu(tu_name,category,lineData,barData,volData,pcykData){
// caregory: X轴，lineData：折线图Y轴，barData：柱状图Y轴


var myChart = echarts.init(document.getElementById('zhexiantu'));

var Xz = new Array();
for(var i=0;i<category.length;i++){
    Xz.push(0);
}

option = {
    title: {
            text: "{{hcd.samedatetime}}",
            textStyle:{ color:'#0a0' }
        },
    backgroundColor: '#0f375f',
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross' //'shadow'
        }
    },
    legend: {
        data: tu_name,
        textStyle: {
            color: '#ccc'
        }
    },
    xAxis: {
        data: category,
        axisLine: {
            lineStyle: {
                color: '#ccc'
            }
        }
    },
    yAxis: [
        {
        name: tu_name[1],
        splitLine: {show: false},
        axisLine: {
            lineStyle: {
                color: '#f44'
            }
        }
    },{
        name: tu_name[0],
        splitLine: {show: false},
        axisLine: {
            lineStyle: {
                color: '#808080'
            }
        }
    }
    ],
    series: [{
        type: 'line',
        yAxisIndex: 1,
        symbol:'none',
        tooltip : {
            show:false
        },
        itemStyle: {
            normal: {
                //barBorderRadius: 'none',
                lineStyle: { color: '#ccc', width:1, type: 'dotted' }
            }
        },
        data: Xz
    },{
        name: tu_name[0],
        type: 'line',
        yAxisIndex: 1,
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: '#808080',
                lineStyle: { color: '#808080' }
            }
        },
        data: lineData
    },{
        name: tu_name[2],
        type: 'bar',
        yAxisIndex: 0,
        smooth: true,
        barWidth: 2,
        itemStyle: {
            normal: {
                barBorderRadius: 1,
                color: function(params){
                    if(params.value>0){
                        return '#FF606B';
                    }else{
                        return '#14c8d4';
                    }
                }
            }
        },
        data: volData
    }, {
        name: "平仓盈亏",
        type: 'bar', // bar
        yAxisIndex: 0,
        smooth: true,
        barWidth: 2,
        itemStyle: {
            normal: {
                barBorderRadius: 1,
                color: '#0f0',
                label: {
                    show: true,
                    color:'#ccc',
                    position: 'top',
                    formatter: function(params) {
                        if (params.value != 0) {
                            return params.value;
                        } else {
                            return '';
                        }
                    }
                }
            }
        },
        data: pcykData
    },{
        name: tu_name[1],
        type: 'line', // bar
        yAxisIndex: 0,
        smooth: true,
        barWidth: 2,
        itemStyle: {
            normal: {
                barBorderRadius: 1,
                color: '#f33',
                lineStyle: { color: '#f33' },
                // label : {show: true} // 显示数值
            }
        },
        data: barData,
        //标记点
        markPoint:{
          data:[
            {type:'max',name:'最大值'},
            {type:'min',name:'最小值',symbol:'diamond'}//标记的图形
          ]
        },
        //标记线
        /*markLine:{
          data:[
            {type:'average',name:'平均值'}
          ]
        }*/
    }],

dataZoom: [//给x轴设置滚动条
           {
            start:6,//默认为0
               end: 136-1500/31,//默认为100
               type: 'slider',
               show: true,
               xAxisIndex: [0],
               handleSize: 0,//滑动条的 左右2个滑动条的大小
               height: 10,//组件高度
               left: 50, //左边的距离
               right: 40,//右边的距离
               bottom: 26,//下边的距离
               handleColor: '#ddd',//h滑动图标的颜色
               handleStyle: {
                   borderColor: "#cacaca",
                   borderWidth: "1",
                   shadowBlur: 2,
                   background: "#ddd",
                   shadowColor: "#ddd",
               },
               fillerColor: new echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                   //给颜色设置渐变色 前面4个参数，给第一个设置1，第四个设置0 ，就是水平渐变
                   //给第一个设置0，第四个设置1，就是垂直渐变
                   offset: 0,
                   color: '#1eb5e5'
               }, {
                   offset: 1,
                   color: '#5ccbb1'
               }]),
               backgroundColor: '#ddd',//两边未选中的滑动条区域的颜色
               showDataShadow: false,//是否显示数据阴影 默认auto
               showDetail: true,//即拖拽时候是否显示详细数值信息 默认true
               handleIcon: 'M-292,322.2c-3.2,0-6.4-0.6-9.3-1.9c-2.9-1.2-5.4-2.9-7.6-5.1s-3.9-4.8-5.1-7.6c-1.3-3-1.9-6.1-1.9-9.3c0-3.2,0.6-6.4,1.9-9.3c1.2-2.9,2.9-5.4,5.1-7.6s4.8-3.9,7.6-5.1c3-1.3,6.1-1.9,9.3-1.9c3.2,0,6.4,0.6,9.3,1.9c2.9,1.2,5.4,2.9,7.6,5.1s3.9,4.8,5.1,7.6c1.3,3,1.9,6.1,1.9,9.3c0,3.2-0.6,6.4-1.9,9.3c-1.2,2.9-2.9,5.4-5.1,7.6s-4.8,3.9-7.6,5.1C-285.6,321.5-288.8,322.2-292,322.2z',
               filterMode: 'filter',
           },
           //下面这个属性是里面拖到
           {
               type: 'inside',
               show: true,
               xAxisIndex: [0],
               start: 0,//默认为1
               end: 100-1500/31,//默认为100
           }
           ]
};

myChart.setOption(option);

}

</script>
{% endif %}
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
{% endblock %}
