{% extends 'base/base.html' %}
{% block title %}回测{% endblock %}
{% block center_cen %}
    {% load staticfiles %}

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>

<!--<link rel="stylesheet" type="text/css" href="{% static 'css/fx-mins.css' %}" title="default"/>-->
<!--<link rel="stylesheet" href="{% static 'css/jquery-ui-1.8.21.custom.css' %}">-->
<!--<link href="{% static 'css/cookieconsent.min.css' %}" rel="stylesheet" type="text/css" />-->


<p style="position:absolute;left:50%;top:85px;font-size:20px;">{% include 'base/return.html' %}</p>

<div class="floatLeft">

<div class="ds1" style="position:absolute;top:100px;">
    <div class="ds2">
        <div class="ds3">
            <div class="ds4">
                <div class="ds5">
                    <div class="ds6">
                        <div class="box_cont" id="huicetuall"> <!--style="height:348px"-->
                            <table width="280">
                                <tr style="cursor:pointer;">
                                    <td id="tuxian1">&nbsp;盈&nbsp;亏</td>
                                    <td id="tuxian2">&nbsp;余&nbsp;额</td>
                                    <td id="tuxian3">&nbsp;利&nbsp;润</td>
                                    <td id="tuxian4">&nbsp;回&nbsp;测</td>
                                </tr>
                            </table>
                            <!--<div style="font-size:14px;cursor:pointer;"><span id="tuxian1">开仓盈亏</span>&nbsp;&nbsp;-->
                                <!--<span id="tuxian2">余额</span>&nbsp;&nbsp;-->
                                <!--<span id="tuxian3">利润</span>&nbsp;&nbsp;-->
                                <!--<span id="tuxian4">资金回测</span>&nbsp;&nbsp;-->
                                <!--&lt;!&ndash;<span id="tuxian5">当天盈亏</span>&ndash;&gt;-->
                            <!--</div>-->
                                <div id="zhexiantu"></div>
                           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var tu_name;
function tuxiancolor(id){
    var id2 = "";
    for(var i=1;i<=4;i++){
        id2 = "#tuxian"+i;
        if(id2==id){
        $("#tuxian"+i).css({"background-color":"#ff6a4a","width":"40px","color":"#f5f5f5"});
        }else{
        $("#tuxian"+i).css({"background-color":"#2b2b2b","width":"40px","color":"#f5f5f5"});
        }
    }
    if(id=='#tuxian1'){
        tu_name=["行情（{{hcd.subtracted}}）","盈亏","持仓（0.1手）","平仓盈亏"];
        huatu(tu_name,{{hcd.day_x|safe}},{{hcd.day_close|safe}},{{hcd.day_yk|safe}},{{hcd.vol|safe}},{{hcd.day_pcyk|safe}});
    }else if(id=='#tuxian2'){
        tu_name=["行情（{{hcd.subtracted}}）","利润","平仓盈亏"];
        huatu(tu_name,{{hcd.day_x|safe}},{{hcd.day_close|safe}},{{hcd.day_ykall|safe}},{{hcd.day_pcyk|safe}});
    }else if(id=='#tuxian3'){
        tu_name=["总利润","日利润","持仓（0.1手）"];
        huatu(tu_name,{{hcd.day_x|safe}},{{hcd.zx_y|safe}},{{hcd.singlelr|safe}},"");
    }else if(id=='#tuxian4'){
        tu_name=["","资金回测","持仓（0.1手）"];
        huatu(tu_name,{{hcd.day_x|safe}},null,{{hcd.zjhcs|safe}},"");
    }
    <!--else if(id=='#tuxian5'){-->
        <!--tu_name=["收盘价（{{hcd.qcbs}}）","当天每单盈亏（{{hcd.samedatetime}}）"];-->
        <!--huatu(tu_name,{{hcd.day_time|safe}},{{hcd.day_close|safe}},{{hcd.day_yk|safe}});-->
    <!--}-->
}
$("#tuxian1").click(function(){
    tuxiancolor("#tuxian1");
});
$("#tuxian2").click(function(){
    tuxiancolor("#tuxian2");
});
$("#tuxian3").click(function(){
    tuxiancolor("#tuxian3");
});
$("#tuxian4").click(function(){
    tuxiancolor("#tuxian4");
});

tuxiancolor("#tuxian1");

//var myChart = echarts.init(document.getElementById('zhexiantu'));


function huatu(tu_name,category,lineData,barData,volData,pcykData){
// caregory: X轴，lineData：折线图Y轴，barData：柱状图Y轴

var winWidth=1140;
var winHeight=940;
//获取窗口宽度、高度
if (document.documentElement  && document.documentElement.clientHeight && document.documentElement.clientWidth){
    winWidth  = document.documentElement.clientWidth;
    winHeight = document.documentElement.clientHeight;
}
var main = $("#zhexiantu")
main.css({"width":winWidth,"height":winHeight});
var myChart = echarts.init(document.getElementById('zhexiantu'));

var Xz = new Array();
for(var i=0;i<category.length;i++){
    Xz.push(0);
}

option = {
    title: {
            text: "{{hcd.samedatetime}}",
            textStyle:{ color:'#0a0' }
        },
    backgroundColor: '#0f375f',
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        }
    },
    legend: {
        data: tu_name,
        textStyle: {
            color: '#ccc'
        }
    },
    xAxis: {
        data: category,
        axisLine: {
            lineStyle: {
                color: '#ccc'
            }
        }
    },
    yAxis: [
        {
        name: tu_name[1],
        splitLine: {show: false},
        axisLine: {
            lineStyle: {
                color: '#f44'
            }
        }
    },{
        name: tu_name[0],
        splitLine: {show: false},
        axisLine: {
            lineStyle: {
                color: '#808080'
            }
        }
    }
    ],
    series: [{
        type: 'line',
        yAxisIndex: 1,
        symbol:'none',
        tooltip : {
            show:false
        },
        itemStyle: {
            normal: {
                //barBorderRadius: 'none',
                lineStyle: { color: '#ccc', width:1 }
            }
        },
        data: Xz
    },{
        name: tu_name[0],
        type: 'line',
        yAxisIndex: 1,
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: '#808080',
                lineStyle: { color: '#808080' }
            }
        },
        data: lineData
    },{
        name: tu_name[2],
        type: 'bar',
        yAxisIndex: 0,
        barWidth: 2,
        itemStyle: {
            normal: {
                barBorderRadius: 1,
                color: function(params){
                    if(params.value>0){
                        return '#FF606B';
                    }else{
                        return '#14c8d4';
                    }
                }
            }
        },
        data: volData
    }, {
        name: "平仓盈亏",
        type: 'bar', // bar
        yAxisIndex: 0,
        barWidth: 2,
        itemStyle: {
            normal: {
                barBorderRadius: 1,
                color: '#0f0',
                label: {
                    show: true,
                    color:'#ccc',
                    position: 'top',
                    formatter: function(params) {
                        if (params.value != 0) {
                            return params.value;
                        } else {
                            return '';
                        }
                    }
                }
            }
        },
        data: pcykData
    },{
        name: tu_name[1],
        type: 'line', // bar
        yAxisIndex: 0,
        barWidth: 2,
        itemStyle: {
            normal: {
                barBorderRadius: 1,
                color: '#f33',
                lineStyle: { color: '#f33' },
                // label : {show: true} // 显示数值
            }
        },
        data: barData,
        //标记点
        markPoint:{
          data:[
            {type:'max',name:'最大值'},
            {type:'min',name:'最小值',symbol:'diamond'}//标记的图形
          ]
        },
        //标记线
        /*markLine:{
          data:[
            {type:'average',name:'平均值'}
          ]
        }*/
    }]
};

myChart.setOption(option);
}

</script>

</div>

<br/><br/><br/><br/>
<br/><br/><br/><br/>
{% endblock %}








