{% extends 'base/base.html' %}
{% block title %}策略统计{% endblock %}
{% block script %}
<style>

.huatut tr{border:1px solid #999;}
.huatut td{ border:0px;height:40px; }
.file_table a {color:blue;}

/* 滚动条 */
.page-risk-sumary{border: 1px solid #7F7F7F;padding: 10px;overflow-y: scroll;width: 1080px;height: 240px}
.page-risk-sumary::-webkit-scrollbar{width:8px;}
.page-risk-sumary::-webkit-scrollbar-track{background-color:#E5E5E5;border-radius: 10px;}
.page-risk-sumary::-webkit-scrollbar-thumb{background-color:#3A3A3A;border-radius: 10px;}
.page-risk-sumary::-webkit-scrollbar-thumb:hover {background-color:#5FE3FF}
.page-risk-sumary::-webkit-scrollbar-thumb:active {background-color:#00aff0}

#editor {
        /*margin: 0;
        position: absolute;
        top: 0;
        bottom: 0;*/
        width: 1100px;
        height: 500px;
        font-size:14px;
    }
</style>
{% endblock %}
{% block center_cen %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
<div align="center">
    <h2>策略统计</h2>
    {% if clouds %}
    <div class="page-risk-sumary">
    <table width="1000" class="file_table" style="font-size:16px;">
        <tr><th>策略名称</th><th>类型</th><th>代码</th><th>说明</th><th>文件操作</th></tr>
        {% for i in clouds %}
            <tr><td>{{ i.0 }}</td><td>{{i.4}}</td>
                <td>{% if i.2 %}<a href="{% url 'interface_huice' %}?type=code&id={{i.2}}">查看代码</a>{% else %}暂无{% endif %}</td>
                <td>{% if i.3 %}<a href="{% url 'interface_huice' %}?type=explain&id={{i.3}}">查看说明</a>{% else %}暂无{% endif %}</td>
                <td>
                    <!--<a href="{% url 'interface_huice' %}?type=del&id={{i}}" onclick="return confirm('确定要删除吗?')">删除</a>&nbsp;&nbsp;-->
                    <!--<a href="{% url 'interface_huice' %}?type=down&id={{i}}">下载</a>&nbsp;&nbsp;-->
                <a href="{% url 'interface_huice' %}?type=huice3&id={{i.1}}" target="_blank">明细</a> &nbsp;&nbsp;
                <a href="{% url 'interface_huice' %}?type=huice&id={{i.1}}" target="_blank">统计</a> &nbsp;&nbsp;
                <a href="{% url 'interface_huice' %}?type=huice2&id={{i.1}}">统计2</a>
                <!--<form action="http://192.168.2.237:8666" method="POST" enctype="multipart/form-data">-->
                    <!--<input type="file" name="file" value="{{file}}">-->
                <!--</form>-->
                </td></tr>
        {% endfor %}
    </table>
</div>
    {% else %}

    <span style="color:green;"><span class="upload">暂无文件！</span></span>
    {% endif %}
    <br/>


    </div>
<script>
$(".file").on("change","input[type='file']",function(){
    var filePath=$(this).val();
    if(filePath.indexOf(".pkl")>0){
        //$(".fileerrorTip").html("").hide();
        var arr=filePath.split('\\');
        var fileName=arr[arr.length-1];
        //$(".showFileName").html(fileName);
        $(".form_upload").submit();
    }else{
        $(".showFileName").html("");
        $(".fileerrorTip").html("您未上传文件，或者您上传文件类型有误！").show();
        return false
    }
});

function Post(URL, PARAMTERS) {
        // 发送POST请求
        //创建form表单
        var temp_form = document.createElement("form");
        temp_form.action = URL;
        //如不需要打开新窗口，form的target属性要设置为'_self'
        temp_form.target = "_blank";
        temp_form.method = "post";
        temp_form.style.display = "none";
        //添加参数
        for (var item in PARAMTERS) {
            var opt = document.createElement("textarea");
            opt.name = item;
            opt.value = PARAMTERS[item];
            temp_form.appendChild(opt);
        }
        document.body.appendChild(temp_form);
        //提交数据
        temp_form.submit();
    }
</script>


{% if zx_x %}
    <div align="center">
        <div style="position:relative;top:10px;" class="huatut">
            <table style="width:100%;text-align:center;">
                <tr style="cursor:pointer;">
                    <td class="tuxiant" id="tuxiant1">交易概况</td>
                    <td class="tuxiant" id="tuxiant2">累积净值</td>
                    <td class="tuxiant" id="tuxiant3">累积盈亏</td>
                    <td class="tuxiant" id="tuxiant4">每日权益</td>
                    <td class="tuxiant" id="tuxiant5">成交偏好</td>
                    <td class="tuxiant" id="tuxiant6">品种盈亏</td>
                    <!--<td id="tuxiant11">每日盈亏</td>-->
                    <td class="tuxiant" id="tuxiant7">每周盈亏</td>
                    <td class="tuxiant" id="tuxiant8">每月盈亏</td>
                    <td class="tuxiant" id="tuxiant9">账号余额</td>
                    <td class="tuxiant" id="tuxiant10">累积入金</td>
                    <td class="tuxiant" id="tuxiant11">持仓时间</td>
                    <td class="tuxiant" id="tuxiant12">平仓分布</td>
                    <td class="tuxiant" id="tuxiant13">多空盈亏</td>
                    <td class="tuxiant" id="tuxiant14">日内隔夜</td>
                    <td class="tuxiant" id="tuxiant15">资金回测</td>
                    <td class="tuxiant" id="tuxiant16">持仓分布</td>
                    <td class="tuxiant" id="tuxiant17">盈亏分布</td>
                    <td id="tuxiant18"></td>
                    <td id="tuxiant19"></td>
                    <td id="tuxiant20"></td>
                    <td id="tuxiant21"></td>
                    <td id="tuxiant22"></td>
                    <td id="tuxiant23"></td>
                    <td id="tuxiant24"></td>
                    <td id="tuxiant25">播放</td>
                </tr>
            </table>
        </div><br/>
        <div id="zhexiantut" style="width:auto;height:600px;"></div><br/><br/><br/><br/>

{% endif %}
 <script type="text/javascript">
 var tu_name;

// 实现随机生成十六进制颜色值
function getColor(){
  //定义字符串变量colorValue存放可以构成十六进制颜色值的值
  var colorValue="0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F";
  //以","为分隔符，将colorValue字符串分割为字符数组["0","1",...,"f"]
  var colorArray = colorValue.split(",");
   var color="#";//定义一个存放十六进制颜色值的字符串变量，先将#存放进去
    //使用for循环语句生成剩余的六位十六进制值
   for(var i=0;i<6;i++){
        //colorArray[Math.floor(Math.random()*16)]随机取出
       // 由16个元素组成的colorArray的某一个值，然后将其加在color中，
       //字符串相加后，得出的仍是字符串
        color+=colorArray[Math.floor(Math.random()*16)];
   }
   return color;
}

function huatut(type,zx_x,zx_y,zx_y2,zx_y3){
var myChart = echarts.init(document.getElementById('zhexiantut'));

if(type=='line'){
myChart.clear();
optiont = {
backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
title:{
    text:"账户：{{hct.host}}",
    textStyle:{
        color:'#00A600',
        fontSize:18
    }
},
color:["#FF0000"],
tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: zx_x
        },
toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
    xAxis: {
        type: 'category',
        data: zx_x
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        name: tu_name[0],
        type: 'line',
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: '#ff6a4a',
                lineStyle: { color: '#ff6a4a' }
            }
        },
        data: zx_y
    },{
        name: tu_name[1],
        type: 'line',
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: '#61b7ec', // rgb(97,183,236)
                lineStyle: { color: '#61b7ec' }
            }
        },
        data: zx_y2
    }]
};
}else if(type=='pie'){
    myChart.clear();
    optiont = {
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
    title:{
    text:"账户：{{hct.host}}",
    textStyle:{
        color:'#00A600',
        fontSize:18
        }
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'horizontal', //'vertical',
        //x : '80%',
        y : '80%',
        data:zx_x
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : {
                show: true,
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 1548
                    }
                }
            },
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:tu_name[0]+"(成交额)",
            type:'pie',
            radius : '40%',
            center: ['50%', '50%'],
            data:zx_y
        }
    ]
};
}else if(type=='pie2'){
myChart.clear();
optiont = {
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
    title:{
        text:"账户：{{hct.host}}",
        textStyle:{
            color:'#00A600',
        fontSize:18
        }
    },

   legend: {
       x : 'center',
       data:['做多盈利','做空盈利','做多亏损','做空亏损']
       //color: ['#339CD1','#FE8463','#9BCA63','#FAD860'],
   },
   tooltip : {
       show: true,
       formatter: "{a} <br/>{b} : {c} ({d}%)"
   },
   toolbox: {
       show : true,
       feature : {
           mark : {show: true},
           dataView : {show: true, readOnly: true},
           restore : {show: true},
           saveAsImage : {show: true}
       }
   },
   calculable:true,
   series : [
       {
           type:'pie',
           name: tu_name[0],
           center: ['25%', '50%'],
           radius : '50%',
           data: zx_y,
           itemStyle: {//系列级个性化
               normal: {
                   color: function(params) {
                       var colorList = [
                         '#339CD1','#FE8463','#9BCA63','#C96890' // FAD860
                       ];
                       return colorList[params.dataIndex]
                   },
                   labelLine:{//饼图显示线条
                       length:2,
                       show:true
                   },
                   /*label:{//饼图不显示文字
                       show:true,
                       position : 'inner',//饼图图上显示百分比
                       formatter : function (params) {
                         return (params.percent - 0).toFixed(0) + '%'
                       },
                       textStyle:{
                           fontSize:14
                       }
                   },*/
               }
           }
       },
       {
           type:'pie',
           name:tu_name[1],
           center: ['70%', '50%'],
           radius : '40%',
           data: zx_y2,
           itemStyle: {//系列级个性化
               normal: {
                   color: function(params) {
                       var colorList = [
                         '#339CD1','#FE8463','#9BCA63','#C96890'
                       ];
                       return colorList[params.dataIndex]
                   },
                   labelLine:{//饼图显示线条
                       length:2,
                       show:true
                   }
               }
           }
       }
   ]
};
}else if(type=='bar'){
myChart.clear();
var colorList = [
                  '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                   '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                   '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                ];
if(colorList.length<zx_x.length){
    var wh = 0;
    var _sizes = zx_x.length-colorList.length;
    while(wh<_sizes){
        var col = getColor();
        if(colorList.indexOf(col)<0 && col!="#FFFFFF"){
            colorList.push(col);
            wh ++;
        }
    }
}
optiont ={
    //backgroundColor:'#fdfdfd', // 背景颜色
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
    title:{
    text:"账户：{{hct.host}}",
    textStyle:{
        color:'#00A600',
        fontSize:18
        }
    },
    tooltip: {},
    toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
    xAxis: {
        type: 'category',
        data: zx_x,

    },
    yAxis: {
        type: 'value',
    },
    /*series: [{
        name: '名称',
        type: 'bar',
        data: zx_y
    }],*/
    series: [
        {
            name: tu_name[0],
            type: 'bar',
            barMaxWidth: 40, // 柱子的最大宽度
            barCateGoryGap: 20,
            itemStyle: {
                normal: {
                    color: function(params) {
                        // build a color map as your need.
                        return colorList[params.dataIndex]
                    },
                    /*label: {
                        show: true,
                        position: 'top',//'inside',//
                        formatter: '{b}\n{c}'
                    }*/
                }
            },
            data: zx_y,
            /*markPoint: {
                tooltip: {
                    trigger: 'item',
                    backgroundColor: 'rgba(0,0,0,0)',
                    formatter: function(params){
                        return '<img src="'
                                + params.data.symbol.replace('image://', '')
                                + '"/>';
                    }
                },

            }*/
        }
    ],
    label:{
        normal:{
            show:true, // 柱子上取消显示数值
            position:'top'
        }
    }
};
}else if(type=='bar2'){
myChart.clear();
var colorList = [
                  '#C1232B','#B5C334','#FCCE10','#E87C25','#27727B',
                   '#FE8463','#9BCA63','#FAD860','#F3A43B','#60C0DD',
                   '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                ];
if(colorList.length<zx_x.length){
    var wh = 0;
    var _sizes = zx_x.length-colorList.length;
    while(wh<_sizes){
        var col = getColor();
        if(colorList.indexOf(col)<0 && col!="#FFFFFF"){
            colorList.push(col);
            wh ++;
        }
    }
}
optiont ={
    //backgroundColor:'#fdfdfd', // 背景颜色
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
    title:{
        text:"账户：{{hct.host}}",
        textStyle:{
            color:'#00A600',
            fontSize:18
        }
    },
    tooltip: {},
    toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
    xAxis: {
        type: 'category',
        data: zx_x,

    },
    yAxis: {
        type: 'value',
    },
    /*series: [{
        name: '名称',
        type: 'bar',
        data: zx_y
    }],*/
    series: [
        {
            name: tu_name[0],
            type: 'bar',
            barMaxWidth: 80, // 柱子的最大宽度
            barCategoryGap: 0,
            itemStyle: {
                normal: {
                    color: function(params) {
                        // build a color map as your need.
                        return colorList[params.dataIndex]
                    },
                    /*label: {
                        show: true,
                        position: 'top',//'inside',//
                        formatter: '{b}\n{c}'
                    }*/
                }
            },
            data: zx_y,
            /*markPoint: {
                tooltip: {
                    trigger: 'item',
                    backgroundColor: 'rgba(0,0,0,0)',
                    formatter: function(params){
                        return '<img src="'
                                + params.data.symbol.replace('image://', '')
                                + '"/>';
                    }
                },

            }*/
        }
    ],
    label:{
        normal:{
            show:false, // 柱子上取消显示数值
            position:'top'
        }
    }
};
}else if(type=='bar3'){
myChart.clear();

optiont = {
    backgroundColor: '#eee',
    title:{
        text:"账户：{{hct.host}}",
        textStyle:{
            color:'#00A600',
            fontSize:18
        }
    },
    legend: {
        data: ['盈利', '亏损']
    },
    brush: {
        toolbox: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear'],
        xAxisIndex: 0
    },
    toolbox: {
        show : true,
        feature: {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            magicType : { show: true, type: [ 'stack', 'tiled', 'line', 'bar']},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    tooltip: {},
    xAxis: {
        data: zx_x,
        name: '持仓时间（小时）',
        silent: false,
        axisLine: {onZero: true},
        splitLine: {show: false},
        splitArea: {show: false}
    },
    yAxis: {
        inverse: false,
        splitArea: {show: false}
    },
    grid: {
        left: 100
    },
    visualMap: {
        type: 'continuous',
        dimension: 1,
        text: ['盈利', '亏损'],
        inverse: false,
        itemHeight: 200,
        calculable: true,
        min: -2,
        max: 6,
        top: 60,
        left: 10,
        inRange: {
            colorLightness: [0.4, 0.8]
        },
        outOfRange: {
            color: '#090'
        },
        controller: {
            inRange: {
                color: ['#26712d','#d7504b']
            }
        }
    },
    series: [
        {
            name: '盈利',
            type: 'bar',
            stack: 'one',
            itemStyle: {
                normal: {
                    color: '#d7504b'
                },
                emphasis: {
                    barBorderWidth: 1,
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowColor: 'rgba(0,0,0,0.5)'
                }
            },
            data: zx_y
        },
        {
            name: '亏损',
            type: 'bar',
            stack: 'one',
            itemStyle: {
                normal: {
                    color: '#26712d'
                },
                emphasis: {
                    barBorderWidth: 1,
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowColor: 'rgba(0,0,0,0.5)'
                }
            },
            data: zx_y2
        }
    ]
};

}else if(type=='linebar'){
myChart.clear();
optiont = {
backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
title:{
    text:"账户：{{hct.host}}",
    textStyle:{
        color:'#00A600',
        fontSize:18
    }
},
color:["#FF0000"],
tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: zx_x
        },
toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
    xAxis: {
        type: 'category',
        data: zx_x
    },
    yAxis: {
        type: 'value'
    },
    series: [{
        name: tu_name[0],
        type: 'line',
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: '#ff6a4a',
                lineStyle: { color: '#ff6a4a' }
            }
        },
        data: zx_y
    },{
        name: tu_name[1],
        type: 'bar',
        barMaxWidth: 10, // 柱子的最大宽度
        // barCateGoryGap: 20,
        itemStyle: {
            normal: {
                color: function(params) {
                    // build a color map as your need.
                    if(params.value>0){
                        return 'red';
                    }else{
                        return 'green';
                    }
                }
            }
        },
        data: zx_y2
    }]
};
}else if(type=='line2'){
myChart.clear();
var linebars = new Array();
var linebar2 = [];
zx_y2.forEach(function(i,k){
    if(i<0){
        linebars[zx_x[k]]=i;
        linebar2.push(-i);
    }else{
        linebars[zx_x[k]]=i;
        linebar2.push(i);
    }
});
optiont = {
backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
title:{
    text:"账户：{{hct.host}}",
    textStyle:{
        color:'#00A600',
        fontSize:18
    }
},
color:["#FF0000"],
tooltip: {
            trigger: 'axis',
            formatter: function(params, ticket, callback) {
            var showContent = params[0].name+"<br>";//params.seriesName + "：" + params.value;
            for(var i=0,l=params.length;i<l;i++){
                if(i==1){
                    showContent += "<span style='color:"+params[i].color+";'>"+params[i].seriesName+"</span>："+linebars[params[i].name]+"<br>";
                }else{
                    showContent += "<span style='color:"+params[i].color+";'>"+params[i].seriesName+"</span>："+params[i].value+"<br>";
                }
                //<span style="color:'+params[i].color+';">'+params[i].seriesName + '</span>
            }
            return showContent;
            }
        },
        legend: {
            data: tu_name
        },
toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
    xAxis: {
        type: 'category',
        data: zx_x
    },
    yAxis: [{
        type: 'value',
        axisLine: {
            lineStyle: {
                color: 'purple'
            }
        }
    },{
        type: 'value',
        axisLine: {
            lineStyle: {
                color: 'red'
            }
        }
    }],
    series: [{
        name: tu_name[0],
        type: 'line',
        yAxisIndex:0,
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: 'purple', //#ff6a4a
                lineStyle: { color: 'purple' }
            }
        },
        data: zx_y
    },{
        name: tu_name[1],
        type: 'bar',
        yAxisIndex:1,
        barMaxWidth: 10, // 柱子的最大宽度
        // barCateGoryGap: 20,
        itemStyle: {
            normal: {
                color: function(params) {
                    // build a color map as your need.
                    if(linebars[params.name]>0){
                        return 'red';
                    }else{
                        return 'green';
                    }
                }
            }
        },
        data: linebar2 //zx_y2
    },{
        name: tu_name[2],
        type: 'line',
        yAxisIndex:0,
        smooth: true,
        showAllSymbol: true,
        symbol: 'emptyCircle',
        symbolSize: 1,
        itemStyle: {
            normal: {
                color: '#36969f', //#ff6a4a
                lineStyle: { color: '#36969f' }
            }
        },
        data: zx_y3
    }]
};
}else if(type=='scatter'){
myChart.clear()
optiont = {
        backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
    title : {
        text: "账户：{{hct.host}}",
        textStyle:{
            color:'#00A600',
            fontSize:18
        },
        subtext: 'X轴为持仓小时，Y轴为持仓时间、盈亏、手数'
    },
    tooltip : {
        trigger: 'axis',
        /*showDelay : 0,
        formatter : function (params) {
            if (params.value.length > 1) {
                return params.seriesName + ' :<br/>'
                   + params.value[0] + 'cm '
                   + params.value[1] + '';
            }
            else {
                return params.seriesName + ' :<br/>'
                   + params.name + ' : '
                   + params.value + '';
            }
        },*/
        axisPointer:{
            show: true,
            type : 'cross',
            lineStyle: {
                type : 'dashed',
                width : 1
            }
        }
    },
    legend: {
        data:['盈利','亏损']
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataZoom : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom: {
        type: 'inside',//'inside',
        show: true,
        start : 0,
        end : 100
    },
    xAxis : [
        {
            type : 'value',
            name: '持仓时间(小时)',
            nameLocation:'middle',
            scale:true,
            axisLabel : {
                formatter: '{value} H'
            }
        }
    ],
    yAxis : [
        {
            type : 'value',
            //name: '盈亏',
            scale:true,
            axisLabel : {
                formatter: '￥{value}'
            }
        }
    ],
    series : [
        {
            name:'盈利',
            type:'scatter',
            data: zx_y,
            symbolSize: function (data) {
                return 5+data[2]*2; // Math.sqrt(data[1]) / 5e2;
            },
            label: {
                emphasis: {
                    show: true,
                    formatter: function (param) {
                        return param.data;
                    },
                    position: 'top'
                }
            },
            itemStyle: {
                normal: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(120, 36, 50, 0.5)',
                    shadowOffsetY: 5,
                    color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                        offset: 0,
                        color: 'rgb(251, 118, 123)'
                    }, {
                        offset: 1,
                        color: 'rgb(204, 46, 72)'
                    }])
                }
            },
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        },
        {
            name:'亏损',
            type:'scatter',
            data: zx_y2,
            symbolSize: function (data) {
                return 5+data[2]*2; // Math.sqrt(data[1]) / 5e2;
            },
            label: {
                emphasis: {
                    show: true,
                    formatter: function (param) {
                        return param.data;
                    },
                    position: 'top'
                }
            },
            itemStyle: {
                normal: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(25, 100, 150, 0.5)',
                    shadowOffsetY: 5,
                    color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                        offset: 0,
                        color: 'rgb(129, 227, 238)'
                    }, {
                        offset: 1,
                        color: 'rgb(25, 183, 207)'
                    }])
                }
            },
            markPoint : {
                data : [
                    {type : 'max', name: '最大值'},
                    {type : 'min', name: '最小值'}
                ]
            },
            markLine : {
                data : [
                    {type : 'average', name: '平均值'}
                ]
            }
        }
    ]
};
}else if(type=="scatter_date"){
myChart.clear();
var all_pcsjs = [];
zx_x.forEach(function(v,k){
    all_pcsjs.push(
         {
            name:v,
            type:'scatter',
            symbolSize: function (value){
                return 10+value[2];
            },
            data: zx_y[v]
        }
    )
});
optiont = {
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
    title : {
        text : "账户：{{hct.host}}",
        textStyle:{
            color:'#00A600',
            fontSize:18
        },
        subtext : '平仓分布'
    },
    tooltip : {
        trigger: 'axis',
        axisPointer:{
            show: true,
            type : 'cross',
            lineStyle: {
                type : 'dashed',
                width : 1
            }
        }
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom: {
        type: 'inside',//'slider',
        show: true,
        start : 20,
        end : 100
    },
    legend: {
        data:zx_x
    },
    xAxis : [
        {
            type : 'time',
            splitNumber: 20
            //scale: true
        }
    ],
    yAxis : [
        {
            type : 'value',
            splitNumber: 4,
            scale: true
        }
    ],
    series : all_pcsjs
};
/*
optiont = {
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
            offset: 0,
            color: '#f7f8fa'
        }, {
            offset: 1,
            color: '#cdd0d5'
        }]),
    title : {
        text : "账户：{{hct.host}}",
        textStyle:{
            color:'#00A600',
            fontSize:18
        },
        subtext : '平仓分布'
    },
    tooltip : {
        trigger: 'axis',
        axisPointer:{
            show: true,
            type : 'cross',
            lineStyle: {
                type : 'dashed',
                width : 1
            }
        }
    },
    toolbox: {
        show : true,
        feature : {
            mark : {show: true},
            dataView : {show: true, readOnly: false},
            restore : {show: true},
            saveAsImage : {show: true}
        }
    },
    dataZoom: {
        type: 'slider',//'inside',
        show: true,
        start : 40,
        end : 96
    },
    legend : {
        data : ['平仓分布']
    },
    dataRange: {
        min: 0,
        max: {{ hct.all_pcsj_max }},
        orient: 'horizontal',
        y: 30,
        x: 'center',
        //text:['高','低'],           // 文本，默认为数值文本
        color:['lightgreen','orange'],
        splitNumber: 5
    },
    grid: {
        y2: 80
    },
    xAxis : [
        {
            type : 'time',
            name: '日期',
            splitNumber:20
        }
    ],
    yAxis : [
        {
            type : 'value',
            name: '盈亏，手数'
        }
    ],
    animation: false,
    series : [
        {
            name:'平仓分布',
            type:'scatter',
            tooltip : {
                trigger: 'axis',
                formatter : function (params) {
                    var date = new Date(params.value[0]);
                    return params.seriesName
                           + ' （'
                           + date.getFullYear() + '-'
                           + (date.getMonth() + 1) + '-'
                           + date.getDate() + ' '
                           + date.getHours() + ':'
                           + date.getMinutes()
                           +  '）<br/>'
                           + params.value[1] + ', '
                           + params.value[2];
                },
                axisPointer:{
                    type : 'cross',
                    lineStyle: {
                        type : 'dashed',
                        width : 1
                    }
                }
            },
            symbolSize: function (value){
                return Math.round(value[2]*3);
            },
            data: zx_y
        }
    ]
};*/
}

myChart.setOption(optiont);
window.onresize = myChart.resize;
}

function tuxiancolort(id){
    var id2 = "";
    var is_display = true;
    for(var i=1;i<=25;i++){
        id2 = "tuxiant"+i;
        if(id=="tuxiant1" && is_display){
            $("#leftColumn").css("display","block");
            $("#zhexiantut").css("display","none");
            //var winWidth=1140;
            //获取窗口宽度、高度
            // if (document.documentElement  && document.documentElement.clientHeight && document.documentElement.clientWidth){
            //    winWidth  = document.documentElement.clientWidth;
            //    winHeight = document.documentElement.clientHeight;
            //}
            //var bl = (winWidth-875)/2/winWidth*100;
            //$("#leftColumn").css("left",bl+'%');
            is_display = false;
        }else{
            $("#leftColumn").css("display","none");
            $("#zhexiantut").css("display","block");
            is_display = false;
        }
        if(id2==id){
            $("#tuxiant"+i).css({"background-color":"#ff6a4a","width":"40px","color":"#f5f5f5","fontSize":"14px"});
        }else{
            $("#tuxiant"+i).css({"background-color":"#2b2b2b","width":"40px","color":"#f5f5f5","fontSize":"12px"});
        }
    }
    if(id=='tuxiant1'){
        $("#zhexiantut").css("display","none");
        $("#leftColumn").css("display","block");
    }else if(id=='tuxiant2'){
        tu_name=["累积净值","",""];
        huatut("line",{{zx_x|safe}},{{hct.alljz|safe}},"","");
    }else if(id=='tuxiant3'){
        tu_name=["累积利润","每日盈亏","累积手续费"];
        huatut("line2",{{zx_x|safe}},{{hct.allyk|safe}},{{hct.day_value|safe}},{{hct.allsxf|safe}});
    }else if(id=='tuxiant4'){
        tu_name=["每日权益","每日盈亏",""];
        huatut("line2",{{zx_x|safe}},{{hct.qy|safe}},{{hct.day_value|safe}},"");
    }else if(id=='tuxiant5'){
        tu_name=["成交偏好","",""];
        huatut("pie",{{hct.pie_name|safe}},{{hct.pie_value|safe}},"","");
    }else if(id=='tuxiant6'){
        tu_name=["品种盈亏","",""];
        huatut("bar",{{hct.bar_name|safe}},{{hct.bar_value|safe}},"","");
    }else if(id=='tuxiant7'){
        tu_name=["每周盈亏","",""];
        huatut("bar",{{hct.week_name|safe}},{{hct.week_value|safe}},"","");
    }else if(id=='tuxiant8'){
        tu_name=["每月盈亏","",""];
        huatut("bar",{{hct.month_name|safe}},{{hct.month_value|safe}},"","");
    }else if(id=='tuxiant9'){
        tu_name=["账号余额","累积入金",""];
        huatut("line",{{zx_x|safe}},{{hct.amount|safe}},{{hct.alleae|safe}},"");
    }else if(id=='tuxiant10'){
        tu_name=["累积入金","入金",""];
        huatut("linebar",{{zx_x|safe}},{{hct.alleae|safe}},{{hct.eae|safe}},"");
    }else if(id=='tuxiant11'){
        tu_name=["","",""];
        huatut("scatter","",{{hct.all_ccsjy|safe}},{{hct.all_ccsjk|safe}},"");
    }else if(id=='tuxiant12'){
        tu_name=["","",""];
        huatut("scatter_date",{{ hct.all_pcsjn|safe }},{{hct.all_pcsjs|safe}},"","");
    }else if(id=='tuxiant13'){
        tu_name=["多空盈亏","多空胜率",""];
        huatut("pie2","",{{hct.all_ylje|safe}},{{hct.all_ylss|safe}},"");
    }else if(id=='tuxiant14'){
        tu_name=["日内隔夜","日内隔夜",""];
        huatut("pie2","",{{hct.all_rnje|safe}},{{hct.all_rnss|safe}},"");
    }else if(id=='tuxiant15'){
        tu_name=["","资金回测",""];
        huatut("line2",{{zx_x|safe}},"",{{hct.zjhc|safe}},"");
    }else if(id=='tuxiant16'){
        tu_name=["持仓时间（小时）","盈亏",""];
        huatut("bar3",{{hct.all_ccsjylks|safe}},{{hct.all_ccsjyl2|safe}},{{hct.all_ccsjks2|safe}},"");
    }else if(id=='tuxiant17'){
        tu_name=["盈亏","手数",""];
        huatut("bar2",{{hct.ykss_x|safe}},{{hct.ykss_y|safe}},"","");
    }
}

var tuxiant_id = "tuxiant1";
var inters = 2;

$(".tuxiant").hover(function(){
    $(this).css({"background-color":"#ff6a4a","width":"40px","color":"#f5f5f5","fontSize":"14px"});
 },function(){
    if(tuxiant_id!=$(this).attr('id')){
        $(this).css({"background-color":"#2b2b2b","width":"40px","color":"#f5f5f5","fontSize":"12px"});
    }else{
        var _a = $(this).attr('id');
        inters = parseInt(_a.slice(7));
    }
 });

$(".tuxiant").click(function(){
    tuxiant_id = $(this).attr('id');
    tuxiancolort(tuxiant_id);
});

tuxiancolort("tuxiant1");

function request(type){
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
    if(type=='ys'){
        url = "{% url 'gxjy' %}"+"?start_date="+start_date+"&end_date="+end_date;
    }else if(type=='js'){
        url = "{% url 'gxjy' %}?type=js"+"&start_date="+start_date+"&end_date="+end_date;
    }else if(type=='tu'){
        url = "{% url 'gxjy' %}?type=tjt"+"&start_date="+start_date+"&end_date="+end_date;
    }
    location.href = url;
}
var setintervals = null;
$("#tuxiant25").click(function(){
    if(setintervals==null){
        $(this).html('停止');
        tuxiancolort("tuxiant"+inters);
        setintervals = setInterval(function(){
            inters = inters<17?inters+1:2;
            tuxiancolort("tuxiant"+inters);
        },2000);
    }else{
        clearInterval(setintervals);
        $(this).html('播放');
        setintervals = null;
    }

});

</script>

        {% if huizong %}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/fx-mins.css' %}" title="default"/>
<link rel="stylesheet" href="{% static 'css/jquery-ui-1.8.21.custom.css' %}">
<link href="{% static 'css/cookieconsent.min.css' %}" rel="stylesheet" type="text/css" />

<div id="leftColumn" class="relative" style="margin: auto;position: relative;top: 30px;left: 300px;right: 0;bottom: 0;width:875px;">

<div class="floatLeft" style="width:877px">

<div class="ds1" style="width:900px;font-size:14px;">
<div class="ds2">
<div class="ds3">
<div class="ds4">
<div class="ds5">
<div class="ds6">
<div class="box_cont">
<div class="boxTitle relative" id="advancedTitle">


  <ul class="titleNav">
        <li class="bold">账户：{{hc_name}}</li>

    </ul>
</div>
        <table class="maxWidth" id="trades" style="" cellspacing="0">
    <tbody><tr>
    <td valign="top">
        <table class="advanced border0L" cellspacing="0">
            <tbody><tr class="bg1">
                <td>交易(笔):</td>
                <td class="alignR">{{huizong.zl}}</td>
            </tr>
            <tr>
                <td>盈利的:</td>
                <td class="pointer" align="right">
                            <span id="wonTip" class="在42笔交易中，正确21笔，获胜率为50<br/>在42笔交易中发生亏损21笔，亏损比例为50"><div class="blockHolder">
                                <div class="greenBlock floatLeft" style="width:{{huizong.shenglv}}px;"></div>
                                <div class="redBlock floatLeft" style="width:{{ huizong.kuilv }}px;"></div>
                            </div></span>
                </td>
            </tr>

            <tr class="bg1">
                <td>总盈亏:</td>
                <td class="alignR">{{huizong.yk|floatformat:"2"}}</td>
            </tr>

            <tr>
                <td>总/平均获利:</td>
                <td class="alignR">{{ hc.alllr|floatformat:2 }} / ￥{{ hc.avglr|floatformat:2 }}</td>
            </tr>
            <tr class="bg1">
                <td>总/平均损失:</td>
                <td class="alignR">{{ hc.allss|floatformat:2 }} / -￥{{ hc.avgss|floatformat:2 }}</td>
            </tr>
            <tr>

                <td>盈亏比:</td>
                <td class="alignR">{{ huizong.ykratio }}<!--{% widthratio hc.avglr hc.avgss -1.0 %}--></td>
            </tr>
            <tr class="bg1">
                <td>总胜率:</td>
                <td class="alignR">{{huizong.shenglv}} %</td>
            </tr>


                                        </tbody></table>
            </td>
            <td valign="top">
                <table class="advanced border0R border0L" cellspacing="0">
                    <tbody><tr>
                        <td>成功的做多交易:</td>
                        <td align="right">
                            <span class="gray">({{hc.cgzd.0}}/{{hc.cgzd.1}}) </span> {{hc.cgzd.2}}%
                            </td>
                    </tr>
                    <tr class="bg1">
                        <td>成功的做空交易:</td>
                        <td align="right">
                            <span class="gray">({{hc.cgzk.0}}/{{hc.cgzk.1}}) </span> {{hc.cgzk.2}}%
                            </td>
                    </tr>


                    <tr>
                        <td>最佳交易(￥):</td>
                        <td class="alignR">                             <span class="gray">({{huizong.most.0}})</span> {{huizong.most.1|floatformat}}
                        </td>
                    </tr>
                    <tr class="bg1">
                        <td> 最差交易(￥):</td>
                        <td class="alignR">                            <span class="gray">({{huizong.least.0}})</span> {{huizong.least.1|floatformat}}
                        </td>
                    </tr>
                    <tr>
                        <td>最好的交易（按照点数计算）</td>
                        <td class="alignR">                            <span class="gray">({{huizong.most2.0}})</span> {{huizong.most2.1|floatformat}}
                        </td>
                    </tr>
                    <tr class="bg1">
                        <td>最坏的交易（点数）</td>
                        <td class="alignR">                            <span class="gray">({{huizong.least2.0}})</span> {{huizong.least2.1|floatformat}}
                        </td>
                    </tr>

                    <tr>
                        <td>平均持仓时间:</td>
                        <td class="alignR">{{hc.ccsj}}</td>
                    </tr>

                                        </tbody></table>
            </td>
            <td>
                <table class="advanced border0R" cellspacing="0">
                    <tbody><tr class="bg1">
                        <td><span class="dotted" id="pfTip">利润因子:</span></td>
                        <td class="alignR">{{hc.lryz}}</td>
                    </tr>
                    <tr>
                        <td><span class="dotted" id="sdTip">标准差:</span></td>
                        <td class="alignR">￥{{hc.std}}</td>
                    </tr><tr class="bg1">
                                                                <td><span class="dotted" id="sharpTip">夏普比率:</span></td>
                                                 <td class="alignR">
                                                     0.02
                                                 </td>
                                            </tr>


                    <tr>
                        <td><span class="dotted" id="zTip">历史最高额:</span></td>
                        <td class="alignR">
                            ￥{{huizong.max_amount}}
                        </td>
                    </tr>

                    <tr class="bg1">
                        <td><span class="dotted" id="expTip">存/取款:</span></td>
                        <td class="alignR">￥{{huizong.deposit}} / {{huizong.draw}}</td>
                    </tr>
                                                            <tr>
                                                                <td><span class="dotted" id="ahprTip">最大回测:</span></td>
                                                <td class="alignR">{{ huizong.max_zjhc }}%</td>
                                            </tr>
                     <tr class="bg1">
                                                                <td><span class="dotted" id="ghprTip">回报率:</span></td>
                                                <td class="alignR">{{ huizong.huibaolv|floatformat:2 }}</td>
                                            </tr>

                                        </tbody></table>
            </td>
        </tr>

    </tbody></table>


</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
{% endif %}
{% if pys %}
<script src="{% static 'js/code_edit/ace.js' %}" type="text/javascript"></script>
<div align="center">
    <!--<input type="button" onclick="javascript:editor_enlarge()" value="放大">-->
    <pre id="editor">{{pys}}</pre>
</div>
<script>
// 代码编辑
var editor = ace.edit("editor");
editor.setTheme("ace/theme/twilight");
editor.session.setMode("ace/mode/python");

function editor_enlarge(){
    //$("#editor").css({"width":"90%","height":"90%"});
     var winWidth=1140;
    var winHeight=940;
    //获取窗口宽度、高度
     if (document.documentElement  && document.documentElement.clientHeight && document.documentElement.clientWidth){
        winWidth  = document.documentElement.clientWidth;
        winHeight = document.documentElement.clientHeight;
    }
    $("#editor").css({"width":winWidth,"height":winHeight});
}
</script>
{% endif %}
{% endblock %}