{% extends 'base/base.html' %}
{% block title %}市场快讯{% endblock %}
{% block center_cen %}
<div align="center">
<div style="display:inline;">
<iframe frameborder="0" width="830" height="630" scrolling="yes" src="https://www.jin10.com/example/jin10.com.html?messageNum=50&fontSize=14px&theme=white"></iframe>
</div>
<div style="display: inline;">
<iframe frameborder="0" width="830" height="580" scrolling="yes" src="https://rili-d.jin10.com/open.php?fontSize=14px&theme=primary"></iframe>
</div>
</div>
{% endblock %}