{% extends 'base/base.html' %}
{% block title %}模拟表{% endblock %}
{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
<script>
function openLogin(id){
   document.getElementById(id).style.display="";
   if(id=="beizhu_img"){
    $("#beizhu_img_src").attr("src","{% static 'images/fa/方案' %}"+"{{fa}}.png");
    }
}
function closeLogin(id){
   document.getElementById(id).style.display="none";
}
function huice(){
    var dates = document.getElementById("datetimes").value;
    var end_date = document.getElementById("end_date").value;
    var fa = document.getElementById("select_fa").value;
    var database = document.getElementById("select_db").value;
    var zsds = document.getElementById("zsds").value;
    var ydzs = document.getElementById("ydzs").value;
    var zyds = document.getElementById("zyds").value;
    var cqdc = document.getElementById("cqdc").value;
    //location.href="{% url 'huice' %}?dates="+dates+"&ts="+ts+"&fa="+fa+"&database="+database;
    // zsds, ydzs, zyds, cqdc
    window.open("{% url 'huice' %}?dates="+dates+"&end_date="+end_date+"&fa="+fa+"&database="+database+"&zsds="+zsds+"&ydzs="+ydzs+"&zyds="+zyds+"&cqdc="+cqdc);
}
</script>
{% endblock %}
{% block center_cen %}
<div align="center" id="beizhu_img" style="display:none;position: absolute; left:50%; top:50%;width:800px; margin-left:-300px; margin-top:-200px;
border:1px solid #888; background-color:green; text-align:center"><span>方案图例</span><br/><br/>
    <img id="beizhu_img_src" src="" alt="无此方案图例" />
    <br/>
<a href="javascript:closeLogin('beizhu_img');"><h2 style="background-color:green;">确 定</h2></a></div>
</div>
<div align="center" id="beizhu" style="display:none;position: absolute; left:50%; top:50%;width:800px; margin-left:-300px; margin-top:-200px;
border:1px solid #888; background-color:green; text-align:center"><span>方案备注</span><br/><br/>
    <ol style="list-style-type:none;">
        {% for k,v in fa_doc.items %}
        {% if k != 'z' %}
        <li>方案{{k}}：{{v}}</li>
        {% else %}
        <li>{{v}}</li>
        {% endif %}
        {% endfor %}
    </ol><br/>
<a href="javascript:closeLogin('beizhu');"><h2 style="background-color:green;">确 定</h2></a></div>
</div>
    <div class="body_ykx" align="center">
    <form action="" method="GET" id="form_request">
        <table width="950">
            <tr><td>止损点数：<input type="number" style="width:100px;" min="10" name="zsds" value="{{ zsds }}" id="zsds"></td>
                <td>移动止损：<input type="number" style="width:100px;" min="10" name="ydzs" value="{{ ydzs }}" id="ydzs"></td>
                <td>止盈：<input type="number"  style="width:100px;" min="10" name="zyds" value="{{ zyds }}" id="zyds"></td>
                <td>点差：<input type="number"  style="width:100px;" min="0" name="cqdc" value="{{ cqdc }}" id="cqdc"></td>
                <td>数据库：<select name="database" id="select_db">
            {% if database == '1' %}
            <option value="1" >sql</option>
            <option value="2">mongodb</option>
            {% else %}
            <option value="2">mongodb</option>
            <option value="1" >sql</option>
            {% endif %}
            </select></td></tr>
            <tr><td>开始时间：<input type="date" name="dates" id="datetimes" value="{{ dates }}"/></td>
                <td>结束时间：<input type="date" name="end_date" id="end_date" value="{{ end_date }}"/></td>
                <td>方案：<select name="fa" id="select_fa">
                    {% for i in fas %}
                    {% if i != '5' and i != '7' %}
                    {% if fa == i %}
                    <option value={{i}} selected>方案{{i}}</option>
                    {% else %}
                    <option value={{i}} >方案{{i}}</option>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    </select></td>
                <td><input type="button" value="回测" onclick="huice()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="方案备注" onclick="openLogin('beizhu')"/></td>
                <td><input type="submit" value="测试" style="background-color:#ff0323;width:50px;" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="反测" name="reverse" style="background-color:#ff0323;width:50px;"/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="买卖点"  onclick="form_request()" style="background-color:#ff0323;width:50px;"/></td>

        </table>
    </form><form action="http://192.168.2.226:8666" method="post" target="_blank">{% csrf_token %}<input type="hidden" value="{{ t_res_data }}" name="data"><input type="submit"></form><br/>
        <table border="1" align="center">
            {% if huizong %}
            <tr><th colspan="8"><span style="font-size: 20px;">汇 总&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:blue;" href="#" onclick="openLogin('beizhu_img')">方案{{fa}}</a></span><br/><span>做多：{{fa_one.0}}<br/>做空：{{fa_one.1}}<br/>止损：{{fa_one.2}}</span></th></tr>
        <tr><th>正确率(%)</th><th>总盈亏(去点差)</th><th>总共做单</th><th>每单盈亏<br>每天盈亏</th><th>一天<br>亏损最多  <a style="color:blue;" href="#yidan_ks">查看一单</a></th>
            <th>亏损<br>涨幅与波动</th><th>一天<br>盈利最多  <a style="color:blue;" href="#yidan_yl">查看一单</a></th><th>盈利<br>涨幅与波动</th></tr>
        <tr bgcolor="#cccc33"><td>{{ huizong.shenglv }}</td><td>{{ huizong.yk|floatformat }}</td><td>{{ huizong.zl }}</td><td>{{ huizong.avg|floatformat:2 }}<br>{{ huizong.avg_day|floatformat:2 }}</td>
            <td><a style="color:blue;" href="{% url 'kline' %}?date={{ huizong.least.0 }}&database={{database}}">{{ huizong.least.0 }}</a><br>{{ huizong.least.1|floatformat }}</td>
            <td>涨幅：{{ huizong.least.2|floatformat:0 }} 点<br>波动：{{ huizong.least.3|floatformat:0 }} 点</td>
            <td><a style="color:blue;" href="{% url 'kline' %}?date={{ huizong.most.0 }}&database={{database}}">{{ huizong.most.0 }}</a><br>{{ huizong.most.1|floatformat }}</td>
            <td>涨幅：{{ huizong.most.2|floatformat:0 }} 点<br>波动：{{ huizong.most.3|floatformat:0 }} 点</td></tr>
            <tr><td>止损：{{ huizong.zs }}</td><td>移动止损：{{ huizong.ydzs }}</td><td>止盈：{{ huizong.zy }}</td><td colspan="5"></td></tr>
        {% else %}
        <h3 style="color:green;">请选择好参数并按《测试》按钮进行测试！</h3>
        {% endif %}
        </table><br/>
    <table border="1" align="center">
    {% for v in res %}
        {% if forloop.first %}
            <tr><th style="width:100px;">日期&nbsp;&nbsp;({{res_length}})天</th><th style="width:50px;">多单</th><th style="width:50px;">空单</th><th style="width:50px;">盈亏</th><th>大于1.5倍</th><th>小于-1.5倍</th><th>K线重合</th>
                <th>详细数据
                <table border="1" style="width:650px;">
                        <tr><th style="width:400px;">时间段</th><th style="width:150px;">多空</th><th>盈亏</th></tr>
                </table>
                </th></tr>
            {% if first_time %}
                    <tr><td style="color:green;" colspan="7">{{first_time.0}}</td><td colspan="2">{{first_time.1}}</td></tr>
            {% endif %}
        {% endif %}
        <tr bgcolor="{% cycle '#cccc33' '#00cc00' %}"><td>{{ v.time }}</td><td>{{ v.duo }}</td><td>{{ v.kong }}</td><td>{{ v.mony|floatformat }}</td><td>{{ v.dy }}</td><td>{{ v.xy }}</td><td>{{ v.ch }}</td>
            <td>
                <table border="1" style="width:650px;">
                    {% for i in v.datetimes %}
                        <tr><td style="width:400px;"><a style="color:blue;" href="{% url 'kline' %}?date={{ v.time }}&database={{database}}">{{ i.0 }}--{{ i.1 }}</a></td>
                            <td style="width:150px;" onclick="javascript:show_mmd('{{ i.0 }}','{{ i.1 }}','{{ i.2 }}')">
                                {{ i.2 }}
                                {% if i.4 == 1 %}
                                --止盈
                                {% elif i.4 == -1 %}
                                --止损
                                {% endif %}
                            </td>
                            {% if i.3 == huizong.least2 %}
                            <td style="background:white;"><a style="color:black;" name="yidan_ks">{{ i.3|floatformat }}</a></td>
                            {% elif i.3 == huizong.most2 %}
                            <td style="background:red;"><a style="color:black;" name="yidan_yl">{{ i.3|floatformat }}</a></td>
                            {% else %}
                            <td>{{ i.3|floatformat }}</td>
                            {% endif %}
                        {% endfor %}
                </table>
            </td></tr>
    {% endfor %}
    </table>
    </div>
<div class="show_mmd" style="display:none;">
<!--<div id="khwxbg" style="display: block; position: fixed; top: 0%; left: 0%; width: 100%; height: 100%; background-color: black; z-index: 1001; opacity: 0.5;"></div>-->
<div id="show_mmd" style="position: fixed; left: 50%; top: 50%; margin-left: -800px; margin-top: -500px;">
</div>
    <div style="width:50px;height:30px;border:3px solid #0f0;"></div>
</div>
    <script type="text/javascript">
        $('div>table').css({'width': '1050px', 'cellpadding': 'auto', 'text-align': 'center', 'rules': 'all'});
        <!--$("tr:odd").css({"background-color": "#cccc33"});-->
        <!--$('tr:even').css({'background-color': '#00cc00'});-->
        $('tr').css({'height': '30'});

        function form_request(){
            var form = $("#form_request");
            form.attr("target","_blank");
            form.append('<input type="hidden" value="买卖点" name="maimaidian" onclick="form_request()">');
            form.submit();
            $("input[name='maimaidian']").remove();
            form.attr("target","_self");
        }
        function show_mmd(sd,ed,fx){
            $.get("{% url 'moni_mmd_ajax' %}", {'sd': sd, 'ed': ed, 'fx': fx}, function(res){
                $("#show_mmd").html(res);
                $("#show_mmd").css({'width':'600px','height':'400px'});
                $(".show_mmd").show();
                $(".body_ykx").hide();
            });
        }

        $(document).bind('click',function(e){
            var e = e || window.event; //浏览器兼容性
            var elem = e.target || e.srcElement;
            while (elem) { //循环判断至跟节点，防止点击的是div子元素
            if (elem.id && elem.id=='show_mmd') {
                return;
            }
            elem = elem.parentNode;
            }

            $('.show_mmd').css('display','none'); //点击的不是div或其子元素
            $(".body_ykx").show();
        });
    </script>
{% endblock %}