{% extends 'base/base.html' %}
{% block title %}实时模拟{% endblock %}
{% block center_cen %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
<div align="center">
    <form method="get" action="{% url 'hqzj' %}">
        <input type="hidden" name="moni" value="1">
    开始日期：<input type="date" name="sd" value="{{ sd }}">
    终止日期：<input type="date" name="ed" value="{{ ed }}">
    数据库：<select name="db">
                <option value="sql" {% if db == 'sql' %}selected{% endif %}>sql</option>
                <option value="mongodb" {% if db == 'mongodb' %}selected{% endif %}>mongodb</option>
            </select>
    分波类型：<select name="ttype">
                <option value="ma60" {% if ttype == 'ma60' %}selected{% endif %}>60均线</option>
                <option value="macd" {% if ttype == 'macd' %}selected{% endif %}>macd</option>
                <option value="change" {% if ttype == 'change' %}selected{% endif %}>异动</option>
                <option value="yinyang" {% if ttype == 'yinyang' %}selected{% endif %}>连续阴阳线</option>
            </select>
        盘整点：<input type="number" name="hengpan" value="{{ hengpan }}" style="width:50px;">
    <input type="submit" >
</form><br/>
    <input type="number" value="5" style="width:50px;" max="10" min="1" id="speed_number"><input type="button" id="adjust_speed" value="调速">
    <input type="button" id="stop_or_start" value="暂停">&nbsp;&nbsp;&nbsp;&nbsp;
    盈亏：<input type="number" value="0" style="width:60px;" id="shishimoni_yk" readonly="readonly">
    <input type="text" class="ssmncc" style="width:400px;" value="持多：0      持空：0    平多：0    平空：0    胜率：0 %">
    <input type="button" id="start_more" value="开多" style="background:red;color:white;cursor:pointer;"> <input type="button" id="stop_more" value="平多" style="color:red;cursor:pointer;">&nbsp;&nbsp;
    <input type="button" id="start_empty" value="开空" style="background:green;color:white;cursor:pointer;"> <input type="button" id="stop_empty" value="平空" style="color:green;cursor:pointer;">
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="stopAll" style="background:blue;color:white;cursor:pointer;" value="一键平仓">
</div>
<hr/><div id="show_hq_message" style="position:absolute;left:10px;font-weight:bold;"></div><br/><br/><br/>
<div id="main" style="width: auto;height: 760px;" align="center"></div>
<script>
        var myChart = echarts.init(document.getElementById('main'));
 //数据模型 time0 open1 close2 min3 max4 vol5 tag6 macd7 dif8 dea9
//['2015-10-19',18.56,18.25,18.19,18.56,55.00,0,-0.00,0.08,0.09]
var dataAll = {{ data|safe }},data = new Array(), zts= {{ zts|safe }}, paramnames= {{ parhead|safe }};
var datas = [],times = [],vols = [],macds = [],difs = [],deas = [];
// 买卖点：开空，开多，平空，平多
var open_sell=new Array(),open_buy=new Array(),flat_sell=new Array(),flat_buy=new Array();
//数组处理
function splitData(rawData) {
  var datas = [],times = [],vols = [],macds = [],difs = [],deas = [];
  for (var i = 0; i < rawData.length; i++) {
    datas.push(rawData[i]);
    times.push(rawData[i].splice(0, 1)[0]);
    vols.push(rawData[i][4]);
    macds.push(rawData[i][6]);
    difs.push(rawData[i][7]);
    deas.push(rawData[i][8]);
}
  return {datas: datas,times: times,vols: vols,macds: macds,difs: difs,deas: deas};
}
//分段计算
function fenduans(){
  var markLineData = [],idx = 0,tag = 0,vols = 0;
  for (var i = 0; i < times.length; i++) {
      //初始化数据
      if(datas[i][5] != 0 && tag == 0){
          idx = i; vols = datas[i][4]; tag = 1;
      }
      if(tag == 1){ vols += datas[i][4]; }
      if(datas[i][5] != 0 && tag == 1){
          markLineData.push([{
              xAxis: idx,
              yAxis: datas[idx][1]>datas[idx][0]?(datas[idx][3]).toFixed(2):(datas[idx][2]).toFixed(2),
              value: vols
          }, {
              xAxis: i,
              yAxis: datas[i][1]>datas[i][0]?(datas[i][3]).toFixed(2):(datas[i][2]).toFixed(2)
          }]);
          idx = i; vols = datas[i][4]; tag = 2;
      }
      //更替数据
      if(tag == 2){ vols += datas[i][4]; }
      if(datas[i][5] != 0 && tag == 2){
          markLineData.push([{
              xAxis: idx,
              yAxis: datas[idx][1]>datas[idx][0]?(datas[idx][3]).toFixed(2):(datas[idx][2]).toFixed(2),
              value: (vols/(i-idx+1)).toFixed(2)+' M'
          }, {
              xAxis: i,
              yAxis: datas[i][1]>datas[i][0]?(datas[i][3]).toFixed(2):(datas[i][2]).toFixed(2)
          }]);
          idx = i; vols = datas[i][4];
      }
  }
  return markLineData;
}
//MA计算公式
function calculateMA(dayCount) {
  var result = [];
  for (var i = 0, len = times.length; i < len; i++) {
      if (i < dayCount) {
          result.push('-');
          continue;
      }
      var sum = 0;
      for (var j = 0; j < dayCount; j++) {
          sum += datas[i - j][1];
      }
      result.push((sum / dayCount).toFixed(2));
  }
  return result;
}

var item=0,lenData=dataAll.length;

// 均线
var ma5 = [], ma10 = [], ma30 = [], ma60 = [], ma120 = [];

// 盈亏，平多单，平空单，盈利单
var ykAll = 0,flatBuyAll = 0,flatSellAll = 0,profits = 0;
//  开多，开空
var start_more = new Array(),start_empty = new Array();

// 定时执行
var setsData = null;
// open_sell,open_buy,flat_sell,flat_buy

for(;item<30;item++){
    datas.push(dataAll[item]);
    times.push(dataAll[item].splice(0, 1)[0]);
    vols.push(dataAll[item][4]);
    macds.push(dataAll[item][6]);
    difs.push(dataAll[item][7]);
    deas.push(dataAll[item][8]);
    open_sell.push('');
    open_buy.push('');
    flat_sell.push('');
    flat_buy.push('');

    ma5.push('-');
    ma10.push('-');
    ma30.push('-');
    ma60.push('-');
    ma120.push('-');
}

var option = {
  title: {
      text: 'K线周期图表（{{ ec_name }}）',
      left: 0
  },
  tooltip: {
      trigger: 'axis',
      axisPointer: {
          type: 'cross',//'line', //'shadow'
          textStyle:{
　　          align:'left'
　　　　    }
      },
        formatter: function(params, ticket, callback) {
            var _dt = params[0].name;
            var htmls = "";
            var htmls2 = '时间：'+_dt+"<br>";
            for (var i = 0, l = params.length; i < l; i++) {
                var p=params[i].value;
                if(p){
                    if(typeof(p)=='object'){
                        var nm=['','开盘价','收盘价','最低价','最高价','成交量','','MACD','DIFF','DEA'];
                        for(var j = 0; j < nm.length; j++){ // time0 open1 close2 min3 max4 vol5 tag6 macd7 dif8 dea9
                            if(j==0||j==6){
                                continue;
                            }
                            htmls2 += nm[j] + ': ' + p[j] +'<br>';
                        }
                    }
                }
            }
            for(var i=0;i<paramnames.length;i++){
                var K=paramnames[i],V=zts[_dt][i];
                /*if(V==0 and K.indexOf('数量')<0){
                    htmls += "<span style='color:green;'>"+ K + ": " + V +"</span>  ";
                }else if(V==1 and K.indexOf('数量')<0){
                    htmls += "<span style='color:red;'>"+ K + ": " + V +"</span>  ";
                }else{
                    htmls += K + ': ' + V +'  ';
                }*/
                htmls += K + ': ' + V +'  ';
                if(i%8==0 && i>0){ htmls += "</br>"; }
            }
            $("#show_hq_message").html(htmls);
            return htmls2;
        }
  },
  legend:{ //图例控件,点击图例控制哪些系列不显示
        data:['日K','MA5','MA10','MA30','MA60','MA120'],
        selected:{
            // 默认不显示
            'MA30': false,
            'MA120': false,
        }
    },
  axisPointer: {
                link: [{
                    xAxisIndex: [0] //生成十字轴，控制3个x轴
            }]
  },
  grid: [           {
      left: '3%',
      right: '1%',
      height: '56%'
  },{
      left: '3%',
      right: '1%',
      top: '68%',
      height: '10%'
  },{
      left: '3%',
      right: '1%',
      top: '78%',
      height: '20%'
  }],
  xAxis: [{
      type: 'category',
      data: times,
      scale: true,
      boundaryGap: false,
      axisLine: { onZero: false },
      splitLine: { show: false },
      splitNumber: 20,
      min: 'dataMin',
      max: 'dataMax'
  },{
      type: 'category',
      gridIndex: 1,
      data: times,
      axisLabel: {show: false}
  },{
      type: 'category',
      gridIndex: 2,
      data: times,
      axisLabel: {show: false}
  }],
  yAxis: [{
      scale: true,
      splitArea: {
          show: false
      }
  },{
      gridIndex: 1,
      splitNumber: 3,
      axisLine: {onZero: false},
      axisTick: {show: false},
      splitLine: {show: false},
      axisLabel: {show: true}
  },{
      gridIndex: 2,
      splitNumber: 4,
      axisLine: {onZero: false},
      axisTick: {show: false},
      splitLine: {show: false},
      axisLabel: {show: true}
  }],
  dataZoom: [{
          type: 'inside',
          xAxisIndex: [0, 0],
          start: 20,
          end: 100
    },{
          show: true,
          xAxisIndex: [0, 1],
          type: 'slider',
          top: '97%',
          start: 20,
          end: 100
    },{
      show: false,
      xAxisIndex: [0, 2],
      type: 'slider',
      start: 20,
      end: 100
  }],
  series: [{
          name: 'K线周期图表',
          type: 'candlestick',
          data: datas,
          itemStyle: {
              normal: {
                  color: '#ef232a',
                  color0: '#14b143',
                  borderColor: '#ef232a',
                  borderColor0: '#14b143',
                  width: 1
              }
          },
      }, {
          name: 'MA5',
          type: 'line',
          data: ma5,
          smooth: true,
          lineStyle: {
              normal: {
                  opacity: 0.5
              }
          }
      },
            {
                name:'MA10',
                type:'line',
                data: ma10,
                smooth:true,
                lineStyle:{ //标线的样式
                    normal:{opacity:0.5}
                }
            },
            {
                name:'MA30',
                type:'line',
                data:ma30,
                smooth:true,
                lineStyle:{
                    normal:{opacity:0.5}
                }
            },
            {
                name:'MA60',
                type:'line',
                data: ma60,
                smooth:true,
                lineStyle:{
                    normal:{opacity:0.5}
                }
            },{
                name:'MA120',
                type:'line',
                data: ma120,
                smooth:true,
                lineStyle:{
                    normal:{opacity:0.5}
                }
            },{
            name:'开空',
            type:'scatter',
            symbol: 'arrow',//'star3',
            symbolSize: 12,
            smooth:true,
            symbolRotate:180,
            itemStyle:{
                //symbolRotate:-90,
                normal: { color:function(p){
                    return 'blue';
                 }
                }
            },// '#FCCE10','#E87C25','#27727B','#9BCA63'
            data: open_sell
        },{
            name:'开多',
            type:'scatter',
            symbol: 'arrow',//'star3',
            symbolSize: 12,
            smooth:true,
            symbolRotate:0,

            itemStyle:{
                //symbolRotate:-90,
                normal: { color:function(p){
                    return 'purple';
                 }
                }
            },
            data: open_buy
        },{
            name:'平空',
            type:'scatter',
            symbol: 'circle',//'star3',
            symbolSize: 10,
            smooth:true,
            //symbolRotate:180,

            itemStyle:{
                //symbolRotate:-90,
                normal: { color:function(p){
                    return 'blue';
                 }
                }
            },
            data: flat_sell
        },{
            name:'平多',
            type:'scatter',
            symbol: 'circle',//'star3',
            symbolSize: 10,
            smooth:true,
            //symbolRotate:180,

            itemStyle:{
                //symbolRotate:-90,
                normal: { color:function(p){
                    return 'purple';
                 }
                }
            },

            data: flat_buy
        },{
          name: 'Volumn',
          type: 'bar',
          xAxisIndex: 1,
          yAxisIndex: 1,
          data: vols,
          itemStyle: {
              normal: {
                  color: function(params) {
                      var colorList;
                      if (datas[params.dataIndex][1]>datas[params.dataIndex][0]) {
                          colorList = '#ef232a';
                      } else {
                          colorList = '#14b143';
                      }
                      return colorList;
                  },
              }
          }
      },{
          name: 'MACD',
          type: 'bar',
          xAxisIndex: 2,
          yAxisIndex: 2,
          data: macds,
          itemStyle: {
              normal: {
                  color: function(params) {
                      var colorList;
                      if (params.data >= 0) {
                          colorList = '#ef232a';
                      } else {
                          colorList = '#14b143';
                      }
                      return colorList;
                  },
              }
          }
      },{
          name: 'DIF',
          type: 'line',
          xAxisIndex: 2,
          yAxisIndex: 2,
          data: difs
      },{
          name: 'DEA',
          type: 'line',
          xAxisIndex: 2,
          yAxisIndex: 2,
          data: deas
      }
  ]
};
// {datas: datas,times: times,vols: vols,macds: macds,difs: difs,deas: deas}


myChart.setOption(option);

function ssNoniYkShow(closePrice){
    var moreLen=start_more.length,emptyLen=start_empty.length,sum=0;
    var moreYk=0,emptyYk=0,sl=0;
    for(var i=0;i<moreLen;i++){
        sum += start_more[i];
    }
    if(moreLen>0){
        moreYk = (closePrice - sum/moreLen) * moreLen
    }
    sum=0;
    for(var i=0;i<emptyLen;i++){
        sum += start_empty[i];
    }
    if(emptyLen>0){
        emptyYk = (sum/emptyLen - closePrice) * emptyLen
    }
    if(flatBuyAll+flatSellAll>0){ sl=Math.round(profits/(flatBuyAll+flatSellAll)*100); }
    $("#shishimoni_yk").val(Math.round(ykAll+moreYk+emptyYk));
    $(".ssmncc").val("持多："+moreLen+"      持空："+emptyLen+"    平多："+flatBuyAll+"    平空："+flatSellAll+"    胜率："+sl+" %");
}

function cycleData(){
    if(item<lenData){
        datas.push(dataAll[item]);
        var _dt = dataAll[item].splice(0, 1)[0];
        times.push(_dt);
        vols.push(dataAll[item][4]);
        macds.push(dataAll[item][6]);
        difs.push(dataAll[item][7]);
        deas.push(dataAll[item][8]);
        open_sell.push('');
        open_buy.push('');
        flat_sell.push('');
        flat_buy.push('');

        if(item>=119){
            var sumMa = 0;
            for(var j=item;j>item-60;j--){
                sumMa += dataAll[j][1];
                if(j==item-4){
                    ma5.push((sumMa/5).toFixed(2));
                }else if(j==item-9){
                    ma10.push((sumMa/10).toFixed(2));
                }else if(j==item-29){
                    ma30.push((sumMa/30).toFixed(2));
                }else if(j==item-59){
                    ma60.push((sumMa/60).toFixed(2));
                }else if(j==item-119){
                    ma120.push((sumMa/120).toFixed(2));
                }
            }
        }else if(item>=59){
            var sumMa = 0;
            for(var j=item;j>item-60;j--){
                sumMa += dataAll[j][1];
                if(j==item-4){
                    ma5.push((sumMa/5).toFixed(2));
                }else if(j==item-9){
                    ma10.push((sumMa/10).toFixed(2));
                }else if(j==item-29){
                    ma30.push((sumMa/30).toFixed(2));
                }else if(j==item-59){
                    ma60.push((sumMa/60).toFixed(2));
                    ma120.push('-');
                }
            }
        }else if(item>=29){
            var sumMa = 0;
            for(var j=item;j>item-30;j--){
                sumMa += dataAll[j][1];
                if(j==item-4){
                    ma5.push((sumMa/5).toFixed(2));
                }else if(j==item-9){
                    ma10.push((sumMa/10).toFixed(2));
                }else if(j==item-29){
                    ma30.push((sumMa/30).toFixed(2));
                    ma60.push('-');
                    ma120.push('-');
                }
            }
        }else{
            ma5.push('-');
            ma10.push('-');
            ma30.push('-');
            ma60.push('-');
            ma120.push('-');
        }

        /*var len_times=times.length,sizes=100;
        if(len_times>200){
            times=times.slice(len_times-sizes,len_times);
            vols=vols.slice(len_times-sizes,len_times);
            macds=macds.slice(len_times-sizes,len_times);
            difs=difs.slice(len_times-sizes,len_times);
            deas=deas.slice(len_times-sizes,len_times);
            open_sell=open_sell.slice(len_times-sizes,len_times);
            open_buy=open_buy.slice(len_times-sizes,len_times);
            flat_sell=flat_sell.slice(len_times-sizes,len_times);
            flat_buy=flat_buy.slice(len_times-sizes,len_times);
            ma5=ma5.slice(len_times-sizes,len_times);
            ma10=ma10.slice(len_times-sizes,len_times);
            ma30=ma30.slice(len_times-sizes,len_times);
            ma60=ma60.slice(len_times-sizes,len_times);
            ma120=ma120.slice(len_times-sizes,len_times);
        }*/

        myChart.setOption({
  title: {
      text: 'K线周期图表（{{ ec_name }}）',
      left: 0
  },
  tooltip: {
      trigger: 'axis',
      axisPointer: {
          type: 'cross',//'line', //'shadow'
          textStyle:{
　　          align:'left'
　　　　    }
      },
        formatter: function(params, ticket, callback) {
            var _dt = params[0].name;
            var htmls = "";
            var htmls2 = '时间：'+_dt+"<br>";
            for (var i = 0, l = params.length; i < l; i++) {
                var p=params[i].value;
                if(p){
                    if(typeof(p)=='object'){
                        var nm=['','开盘价','收盘价','最低价','最高价','成交量','','MACD','DIFF','DEA'];
                        for(var j = 0; j < nm.length; j++){ // time0 open1 close2 min3 max4 vol5 tag6 macd7 dif8 dea9
                            if(j==0||j==6){
                                continue;
                            }
                            htmls2 += nm[j] + ': ' + p[j] +'<br>';
                        }
                    }
                }
            }
            for(var i=0;i<paramnames.length;i++){
                var K=paramnames[i],V=zts[_dt][i];
                /*if(V==0 and K.indexOf('数量')<0){
                    htmls += "<span style='color:green;'>"+ K + ": " + V +"</span>  ";
                }else if(V==1 and K.indexOf('数量')<0){
                    htmls += "<span style='color:red;'>"+ K + ": " + V +"</span>  ";
                }else{
                    htmls += K + ': ' + V +'  ';
                }*/
                htmls += K + ': ' + V +'  ';
                if(i%8==0 && i>0){ htmls += "</br>"; }
            }
            $("#show_hq_message").html(htmls);
            return htmls2;
        }
  },
  legend:{ //图例控件,点击图例控制哪些系列不显示
        data:['日K','MA5','MA10','MA30','MA60','MA120'],
        selected:{
            // 默认不显示
            'MA30': false,
            'MA120': false,
        }
    },
  axisPointer: {
                link: [{
                    xAxisIndex: [0] //生成十字轴，控制3个x轴
            }]
  },
  grid: [           {
      left: '3%',
      right: '1%',
      height: '56%'
  },{
      left: '3%',
      right: '1%',
      top: '68%',
      height: '10%'
  },{
      left: '3%',
      right: '1%',
      top: '78%',
      height: '20%'
  }],
  xAxis: [{
      type: 'category',
      data: times,
      scale: true,
      boundaryGap: false,
      axisLine: { onZero: false },
      splitLine: { show: false },
      splitNumber: 20,
      min: 'dataMin',
      max: 'dataMax'
  },{
      type: 'category',
      gridIndex: 1,
      data: times,
      axisLabel: {show: false}
  },{
      type: 'category',
      gridIndex: 2,
      data: times,
      axisLabel: {show: false}
  }],
  yAxis: [{
      scale: true,
      splitArea: {
          show: false
      }
  },{
      gridIndex: 1,
      splitNumber: 3,
      axisLine: {onZero: false},
      axisTick: {show: false},
      splitLine: {show: false},
      axisLabel: {show: true}
  },{
      gridIndex: 2,
      splitNumber: 4,
      axisLine: {onZero: false},
      axisTick: {show: false},
      splitLine: {show: false},
      axisLabel: {show: true}
  }],
  dataZoom: [{
          type: 'inside',
          xAxisIndex: [0, 0],
          start: 20,
          end: 100
    },{
          show: true,
          xAxisIndex: [0, 1],
          type: 'slider',
          top: '97%',
          start: 20,
          end: 100
    },{
      show: false,
      xAxisIndex: [0, 2],
      type: 'slider',
      start: 20,
      end: 100
  }],
  series: [{
          name: 'K线周期图表',
          type: 'candlestick',
          data: datas,
          itemStyle: {
              normal: {
                  color: '#ef232a',
                  color0: '#14b143',
                  borderColor: '#ef232a',
                  borderColor0: '#14b143',
                  width: 1
              }
          },
      }, {
          name: 'MA5',
          type: 'line',
          data: ma5,
          smooth: true,
          lineStyle: {
              normal: {
                  opacity: 0.5
              }
          }
      },
            {
                name:'MA10',
                type:'line',
                data: ma10,
                smooth:true,
                lineStyle:{ //标线的样式
                    normal:{opacity:0.5}
                }
            },
            {
                name:'MA30',
                type:'line',
                data:ma30,
                smooth:true,
                lineStyle:{
                    normal:{opacity:0.5}
                }
            },
            {
                name:'MA60',
                type:'line',
                data: ma60,
                smooth:true,
                lineStyle:{
                    normal:{opacity:0.5}
                }
            },{
                name:'MA120',
                type:'line',
                data: ma120,
                smooth:true,
                lineStyle:{
                    normal:{opacity:0.5}
                }
            },{
            name:'开空',
            type:'scatter',
            symbol: 'arrow',//'star3',
            symbolSize: 12,
            smooth:true,
            symbolRotate:180,
            itemStyle:{
                //symbolRotate:-90,
                normal: { color:function(p){
                    return 'blue';
                 }
                }
            },// '#FCCE10','#E87C25','#27727B','#9BCA63'
            data: open_sell
        },{
            name:'开多',
            type:'scatter',
            symbol: 'arrow',//'star3',
            symbolSize: 12,
            smooth:true,
            symbolRotate:0,

            itemStyle:{
                //symbolRotate:-90,
                normal: { color:function(p){
                    return 'purple';
                 }
                }
            },
            data: open_buy
        },{
            name:'平空',
            type:'scatter',
            symbol: 'circle',//'star3',
            symbolSize: 10,
            smooth:true,
            //symbolRotate:180,

            itemStyle:{
                //symbolRotate:-90,
                normal: { color:function(p){
                    return 'blue';
                 }
                }
            },
            data: flat_sell
        },{
            name:'平多',
            type:'scatter',
            symbol: 'circle',//'star3',
            symbolSize: 10,
            smooth:true,
            //symbolRotate:180,

            itemStyle:{
                //symbolRotate:-90,
                normal: { color:function(p){
                    return 'purple';
                 }
                }
            },

            data: flat_buy
        },{
          name: 'Volumn',
          type: 'bar',
          xAxisIndex: 1,
          yAxisIndex: 1,
          data: vols,
          itemStyle: {
              normal: {
                  color: function(params) {
                      var colorList;
                      if (datas[params.dataIndex][1]>datas[params.dataIndex][0]) {
                          colorList = '#ef232a';
                      } else {
                          colorList = '#14b143';
                      }
                      return colorList;
                  },
              }
          }
      },{
          name: 'MACD',
          type: 'bar',
          xAxisIndex: 2,
          yAxisIndex: 2,
          data: macds,
          itemStyle: {
              normal: {
                  color: function(params) {
                      var colorList;
                      if (params.data >= 0) {
                          colorList = '#ef232a';
                      } else {
                          colorList = '#14b143';
                      }
                      return colorList;
                  },
              }
          }
      },{
          name: 'DIF',
          type: 'line',
          xAxisIndex: 2,
          yAxisIndex: 2,
          data: difs
      },{
          name: 'DEA',
          type: 'line',
          xAxisIndex: 2,
          yAxisIndex: 2,
          data: deas
      }
  ]
});

        item += 1;

        var htmls = "";
        for(var i=0;i<paramnames.length;i++){
                var K=paramnames[i],V=zts[_dt][i];
                htmls += K + ': ' + V +'  ';
                if(i%8==0 && i>0){ htmls += "</br>"; }
         }
        $("#show_hq_message").html(htmls);

        ssNoniYkShow(dataAll[item][2]);
    }else{
        clearInterval(setsData);
    }
}
function shishimoniTiaoSu(){
    // 调速 调整速度
    var n = $("#speed_number").val()/1;
    if(n>=10){
        n = 10;
    }else if(n<=1){
        n = 1;
    }
    var ym=10-n>=1?10-n:1;
    clearInterval(setsData);
    setsData = setInterval("cycleData()",ym*200);
    $("#speed_number").val(n);
}
setsData = setInterval("cycleData()",1000);
$("#stop_or_start").click(function(){
    if($(this).val()=="暂停"){
        clearInterval(setsData);
        $(this).val("开始");
    }else{
        shishimoniTiaoSu();
        $(this).val("暂停");
    }
});

$("#adjust_speed").click(function(){
    shishimoniTiaoSu();
});

// 开仓
$("#start_more").click(function(){
    var datasLen = datas.length-1;
    start_more.push(datas[datasLen][1]);
    open_buy[datasLen] = datas[datasLen][1];
    $("#stop_more").css({"background":"red","color":"black"});
});
$("#start_empty").click(function(){
    var datasLen = datas.length-1;
    start_empty.push(datas[datasLen][1])
    open_sell[datasLen] = datas[datasLen][1];
    $("#stop_empty").css({"background":"green","color":"black"});
});
// 平仓
$("#stop_more").click(function(){
    var startMoreLen = start_more.length;
    if(startMoreLen>0){
        var datasLen = datas.length-1;
        var ylPrice = datas[datasLen][1] - start_more.pop();
        ykAll += ylPrice;
        flatBuyAll += 1;
        if(ylPrice>0){ profits += 1; }
        flat_buy[datasLen] = datas[datasLen][1];
        if(startMoreLen<=1){
            $("#stop_more").css({"background":"#EBEBEB","color":"red"});
        }
    }
    ssNoniYkShow(datas[datasLen][1]);
});
$("#stop_empty").click(function(){
    var startEmptyLen = start_empty.length;
    if(startEmptyLen>0){
        var datasLen = datas.length-1;
        var ylPrice = start_empty.pop() - datas[datasLen][1];
        ykAll += ylPrice;
        flatSellAll += 1;
        if(ylPrice>0){ profits += 1; }
        flat_sell[datasLen] = datas[datasLen][1];
        if(startEmptyLen<=1){
            $("#stop_empty").css({"background":"#EBEBEB","color":"green"});
        }
    }
    ssNoniYkShow(datas[datas.length-1][1]);
});

$("#stopAll").click(function(){
    var startEmptyLen = start_empty.length;
    var datasLen = datas.length-1;
    for(var i=0;i<startEmptyLen;i++){
        var ylPrice = start_empty.pop() - datas[datasLen][1];
        ykAll += ylPrice;
        flatSellAll += 1;
        if(ylPrice>0){ profits += 1; }
        flat_sell[datasLen] = datas[datasLen][1];
    }
    $("#stop_empty").css({"background":"#EBEBEB","color":"green"});

    var startMoreLen = start_more.length;
    for(var i=0;i<startMoreLen;i++){
        var ylPrice = datas[datasLen][1] - start_more.pop();
        ykAll += ylPrice;
        flatBuyAll += 1;
        if(ylPrice>0){ profits += 1; }
        flat_buy[datasLen] = datas[datasLen][1];
    }
    $("#stop_more").css({"background":"#EBEBEB","color":"red"});

    ssNoniYkShow(datas[datasLen][1]);
});
</script>

{% endblock %}