{% extends 'base/base.html' %}
{% block title %}统计表{% endblock %}
{% block script %}
<style>
    .dataframe tr{ border:1px solid #999; }
    .dataframe th,td{ border:0;height:35px; }
</style>
{% endblock %}
{% block center_cen %}
{% load staticfiles %}
{% include 'base/form.html' %}
<div align="center" id="password_div" style="display:none; left:50%; bottom:50%;width:390px; height:60px; position: fixed;top: 0px;left: 0px;right: 0px;bottom: 0px;margin: auto;
border:1px solid #888; background-color:green; text-align:center"><br/><input type="password" id="div_password" placeholder="请输入验证码"/>&nbsp;
            <input type="button" onclick="javascript:closeLogin('update')" id="div_password_update" value="修 改">&nbsp;&nbsp;
    <input type="button" onclick="javascript:closeLogin('delete')" value="删 除">&nbsp;&nbsp;
    <input type="button" onclick="javascript:closeLogin(null)" value="取 消">
<!--<a href="javascript:closeLogin('update');">修 改</a><a href="javascript:closeLogin('delete');">删 除</a>-->
        </div>
    <div align="center" id="tongji">
    {% load mvote %}
{#        <h3>#}
{#            {% if xz == '1' %}#}
{#                时间分组#}
{#            {% elif xz == '2' %}#}
{#                ID  分组#}
{#            {% elif xz == '3' %}#}
{#                多空分组#}
{#            {% elif xz == '4' %}#}
{#                时间与ID分组#}
{#            {% elif xz == '5' %}#}
{#                时间与多空分组#}
{#            {% elif xz == '6' %}#}
{#                ID 与 空分组#}
{#            {% elif xz == '7' %}#}
{#                时间、ID与多空三者结合分组#}
{#            {% elif xz == '8' %}#}
{#                详细数据#}
{#            {% endif %}#}
{#        </h3>#}
    {% if herys %}
{#        {{ herys|safe }}#}

         <table border="1" class="dataframe">
    <tr>
      <th>ID号</th>
      <th>名称</th>
      <th>是否使用</th>
      <th>开户金额</th>
      <th>当前余额</th>
        <th>操作</th>
    </tr>
            {% for i in herys %}
    <tr bgcolor="{% cycle '#f6f6f6' '#ffffff' %}">
      <td>{{ i.0 }}</td>
      <td id="name{{i.0}}" contentEditable="true">
          {% if i.1 %}{{ i.1 }}{% endif %}
      </td>
      <td id="en{{i.0}}" contentEditable="true">{{ i.2|yesno:"Yes,No,未知" }}</td>
      <td>{{ i.3 }}</td>
      <td>{{ i.4 }}</td>
        <td width="160"><img src="{% static 'images/b10.ico' %}" width="20" style="margin-top:10px;cursor:pointer;" onclick="javascript:openLogin('{{i.0}}')" title="修改">&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'images/b16.ico' %}" width="20" style="margin-top:10px;cursor:pointer;" onclick="javascript:openLogin('{{i.0}}')" title="删除"></td>
    </tr>
        {% endfor %}

        </table>
        {% elif results2 %}
        <table border="1" class="dataframe" id="huizong_mingxi">
        <tr><th colspan="13" style="font-size: 20px;background-color:#FFFFFF;">总 汇 总</th></tr>
        <tr>
            <th>开始日期</th>
      <th>ID</th>
        <th>赚得金额</th>
        <th>多单</th>
        <th>空单</th>
            <th>下单总数</th><th>赢利单数</th><th>准确率(%)</th>
           <th>合约</th><th>正向加仓</th><th>反向加仓</th><th>最大持仓</th><th>&nbsp;&nbsp;名  称</th>
        </tr>
        {% for j,i in huizong.items %}
        <tr class="zhztr"> <!-- bgcolor="{% cycle '#f6f6f6' '#ffffff' %}" -->
            <td>{{ i.0 }}</td>
        <td>{{ i.1 }}</td>
        <td>{{ i.2|floatformat:1 }}</td>
        <td>{{ i.3|floatformat:0 }}</td>
        <td>{{ i.4|floatformat:0 }}</td>
        <td>{{ i.5 }}</td><td>{{ i.6|floatformat:0 }}</td><td>{{ i.7|floatformat:0 }}</td>
            <td>
                <a value="{% url 'tongji' %}?type=2&datetimes={{ i.0 }}&id={{ i.1 }}&end_date={{ end_date }}" target="_blank">

                    <!--<img src="{% static 'images/b7.ico' %}" style="width:28px;height:28px;margin-bottom:1px;" title="开始回测"/>-->
                </a>{{ i.14 }}
            </td>
            <td>{{ i.9 }} ({{ i.11|floatformat:0 }})</td><td>{{ i.10 }} ({{ i.12|floatformat:0 }})</td><td>{{ i.13 }}</td>
            <td>{{ i.8 }}</td> <!-- <a style="color:#0000ff;text-decoration:none;" href="{% url 'tongji' %}?type=1&datetimes={{ i.0 }}&id={{ i.1 }}&end_date={{ end_date }}"></a> -->
        </tr>
        {% endfor %}
            {% for j,i in huizong.items %}
            {% if end_date != i.0 %}
            <tr><th colspan="13" style="font-size: 18px;">日汇总（{{ j }}）</th></tr>
            {% for k,v in i.15.items %}
             <tr class="rhztr"> <!-- bgcolor="{% cycle '#f6f6f6' '#ffffff' %}" -->
            <td>{{ v.0 }}</td>
        <td>{{ v.1 }}</td>
        <td>{{ v.2|floatformat:1 }}</td>
        <td>{{ v.3|floatformat:0 }}</td>
        <td>{{ v.4|floatformat:0 }}</td>
        <td>{{ v.5 }}</td><td>{{ v.6|floatformat:0 }}</td><td>{{ v.7|floatformat:0 }}</td>
            <td>
                <a value="{% url 'tongji' %}?type=2&datetimes={{ v.0 }}&id={{ v.1 }}&end_date={{ v.0 }}" target="_blank">
                    <!--<img src="{% static 'images/b7.ico' %}" style="width:28px;height:28px;margin-bottom:1px;" title="开始回测"/>-->
                </a>
            </td>
            <td>{{ v.9 }} ({{ v.11|floatformat:0 }})</td><td>{{ v.10 }} ({{ v.12|floatformat:0 }})</td><td>{{ v.13 }}</td>
            <td>{{ v.8 }}</td> <!-- <a style="color:#0000ff;text-decoration:none;" href="{% url 'tongji' %}?type=1&datetimes={{ v.0 }}&id={{ i.1 }}&end_date={{ end_date }}"></a> -->
        </tr>
            {% endfor %}
            {% endif %}
        {% endfor %}
        <tr><th colspan="13" style="font-size: 20px;background-color:#FFFFFF;">明 细</th></tr>
    <tr>
      <th colspan="2">ID</th>
      <th colspan="2">开仓时间</th>
      <th>开仓价格</th>
      <th colspan="2">平仓时间</th>
      <th>平仓价格</th>
      <th>盈亏</th>
        <th>多空</th>
        <th>手数</th>
        <th>交易状态</th>
        <th>名称</th>
    </tr>
            {% for i in results2 %}
    <tr> <!-- bgcolor="{% cycle '#f6f6f6' 'ffffff' %}" -->
      <td colspan="2">{{ i.0 }}</td>
      <td colspan="2">{{ i.1 }}</td>
      <td>{{ i.2 }}</td>
      {% if i.1 > i.3 %}
        <td colspan="2">未平仓</td>
        {% else %}
        <td colspan="2">{{ i.3 }}</td>
        {% endif %}
      <td>{{ i.4 }}</td>
      <td>{{ i.5 }}</td>
        <td>{{ i.6|yesno:"空,多,未知" }}</td>
      <td>{{ i.7|floatformat:0 }}</td>
        {% if i.8 == 2 %}
        <td>已平仓</td>
        {% elif i.8 == 1 %}
        <td>开仓</td>
        {% elif i.8 == 0 %}
        <td>挂单中</td>
        {% else %}
        <td></td>
        {% endif %}
      <!--<td>{{ i.9 }}</td>-->
        <td>{{ i.9 }}</td>
    </tr>
        {% endfor %}

        </table>

        {% elif results %}
        <table border="1" class="dataframe">
        <tr><th colspan="10" style="font-size: 20px;background-color:#FFFFFF;">汇 总</th></tr>
        <tr>
            <th>日期</th>
      <th>ID</th>
        <th>赚得金额</th>
        <th>正向跟单</th>
        <th>反向跟单</th>
            <th>下单数量</th><th></th><th></th><th></th><th>名  称</th>
        </tr>
        {% for i in huizong %}
        <tr>
            <td>{{ i.0 }}</td>
        <td>{{ i.1 }}</td>
        <td>{{ i.2|floatformat:1 }}</td>
        <td>{{ i.3 }}</td>
        <td>{{ i.4 }}</td>
        <td>{{ id_count|names:i.1 }}</td><td></td><td></td><td></td><td><a style="color:#0000ff;text-decoration:none;" href="{% url 'tongji' %}?datetimes={{ i.0 }}&id={{ i.1 }}&rq_ts={{ end_date }}">{{ id_name|names:i.1 }}</a></td>
        </tr>
        {% endfor %}
        <tr><th colspan="10" style="font-size: 20px;background-color:#FFFFFF;">明 细</th></tr>
    <tr>
      <th>开仓时间</th>
      <th>单号</th>
      <th>ID</th>
      <th>平仓时间</th>
      <th>价格</th>
      <th>多空</th>
        <th>赚得金额</th>
        <th>正向跟单</th>
        <th>反向跟单</th>
        <th>名  称</th>

    </tr>
            {% for i in results %}
    <tr>
      <td>{{ i.0 }}</td>
      <td>{{ i.1 }}</td>
      <td>{{ i.2 }}</td>
      <td>{{ i.3 }}</td>
      <td>{{ i.4 }}</td>
      <td>{{ i.5|yesno:"空,多,未知" }}</td>
        <td>{{ i.6 }}</td>
      <td>{{ i.7 }}</td>
        <td>{{ i.8 }}</td>
      <!--<td>{{ i.9 }}</td>-->
        <td>{{ id_name|names:i.2 }}</td>
    </tr>
        {% endfor %}

        </table>
    {% elif monijy or sjjy %}
        <div id="ssjy">

            </div>
    {% else %}
        <h3 style="color:green;">暂无数据</h3>
    {% endif %}
    </div>
<div style="display:none">
    <form method="POST" action="" id="form_up_del">
        <input type="text" name="id" id="f_id">
        <input type="text" name="name" id="f_name">
        <input type="text" name="en" id="f_en">
        <input type="password" id="f_pass">
    </form>
</div>
    <script type="text/javascript">


$('table').css({'width': '1000px', 'cellpadding': 'auto', 'text-align': 'center', 'rules': 'all'});
//$("tr:odd").css({"background-color": "#cccc33"});
//$('tr:even').css({'background-color': '#00cc00'});
//$('tr').css({'height': '30'});

$(".zhztr").click(function(){
    window.open($(this).find('a').attr('value'));
});
$(".zhztr").hover(function(){
    $(this).css({'backgroundColor':'#f0f0f0','cursor':'pointer'});
},function(){
    $(this).css('backgroundColor','#fff');
});
$(".rhztr").click(function(){
    window.open($(this).find('a').attr('value'));
});
$(".rhztr").hover(function(){
    $(this).css({'backgroundColor':'#f0f0f0','cursor':'pointer'});
},function(){
    $(this).css('backgroundColor','#fff');
});

//提交
function formSubmit(id,name,en,pass,types){
        var form = $("<form method='POST' action='{% url 'tongji_update_del' %}'>{% csrf_token %}</form>");
        form.append($("<input type='text'>").val(id).attr('name','id'));
        form.append($("<input type='text'>").val(name).attr('name','name'));
        form.append($("<input type='text'>").val(en).attr('name','en'));
        form.append($("<input type='password'>").val(pass).attr('name','pass'));
        form.append($("<input type='text'>").val(types).attr('name','types'));
        form.appendTo(document.body);
        form.submit();
        document.body.removeChild(form[0]);
}

var status;
//修改
function update_name(id,pass){
        var name=$("#name"+id).text();
        var en=$("#en"+id).text();
        if(pass.length>0){
        formSubmit(id,name,en,pass,'update');
        }else{alert('验证码不能为空！');}
    }
//删除
function delete_user(id,pass){
    if(pass.length>0){
    var name=$("#name"+id).text();
    var en=$("#en"+id).text();
    if(confirm('您确定要删除吗？')==true){
        formSubmit(id,name,en,pass,'delete');
    }
    }else{alert('验证码不能为空！');}
}

var cid=null;

function openLogin(id){
   cid = id;
   document.getElementById("password_div").style.display="";
   $("#div_password").focus();
   $('#div_password').bind('keyup', function(event) {
　　if (event.keyCode == "13") {
　　　　//回车执行
　　　　$('#div_password_update').click();
       }
    });
}
function closeLogin(sta){
    var password = $("#div_password").val();
    //alert(password+' '+cid+' '+sta);
    if(sta=="update"){
        update_name(cid,password);
    }else if(sta=="delete"){
        delete_user(cid,password);
    }
   document.getElementById("password_div").style.display="none";
}

var messagess='{{messagess}}';
if(messagess.length>0){alert(messagess);}
    </script>
{% endblock %}