
{% extends 'base/base.html' %}
{% block title %}用户注册{% endblock %}
{% block script %}
<style>
    .errorlist{color:red;}
    .captcha{margin-top:10px;}
    body {
	margin:0;
	padding:0;
	overflow:hidden;
	background:#2d9b95;
	background:-moz-radial-gradient(center,ellipse cover,#2d9b95 0%,#0e1329 100%);
	background:-webkit-radial-gradient(center,ellipse cover,#2d9b95 0%,#0e1329 100%);
	background:-o-radial-gradient(center,ellipse cover,#2d9b95 0%,#0e1329 100%);
	background:-ms-radial-gradient(center,ellipse cover,#2d9b95 0%,#0e1329 100%);
	background:radial-gradient(ellipse at center,#2d9b95 0%,#0e1329 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d9b95',endColorstr='#0e1329',GradientType=1 );
	background:-webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,#2d9b95),color-stop(100%,#0e1329));
}
.box {background:#000000; position:absolute;margin-left:-14%; z-index:3;opacity: 0.6;left:50%;}
.box-login{width:450px; height:295px;margin-top:-10%;top:50%;}
.box-register{width:450px; height:395px;margin-top:-8%;top:46%;}
.box-reset{width:450px; height:385px;margin-top:-8%;top:46%;}
#register {display:none;}
#reset{display:none;}
</style>
{% endblock %}
{% block center_cen %}
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/layui.css' %}" media="all">
    <script type="text/javascript" src="{% static 'js/jquery.min(1).js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>

<canvas width="1880" height="917"></canvas>

<div class="beg-login-box box box-login layui-anim-up" id="login">
<div align="center"><p id="error_info" style="color:green;position:absolute;font-size:16px;">{{ message|default:"欢迎！" }}</p><br/>
    <form action="{% url 'register' %}" method="POST" id="form_register">
        {% csrf_token %}<br/>
            <table>
                {{ form.as_table }}
            </table>
           <br/>
            <input type="button" class="layui-btn layui-btn-radius" onclick="form_register();" value="注册">&nbsp;&nbsp;
            <input type="button" class="layui-btn layui-btn-radius" onclick="javascript:show_login();" value="前往登录">
    </form>
</div>
    </div>
<script>
function form_register(){
    var form = document.getElementById("form_register");
    var password = form["password"].value;
    var name = form["name"].value;
    var phone = form["phone"].value;
    if(password.length>=6 && password.length<=18 && name.length>1 && name.length<10 && phone.length==11){
        form["password"].value = hex_md5(password);
        form.submit();
    }else{
        $("#error_info").css('color','red').html("输入有误！请检查用户名（长度为2-10位）、密码（长度6-18位）、手机号码以及验证码是否输入正确。");
    }
}
    $("#id_captcha_1").css('width','90').attr('placeholder','验证码');
    $(".captcha").css({'cursor':'pointer','height':'35px'});
    $('.captcha').attr('title','看不清？换一张');
$(".captcha").click(function(){
    console.log('click');
    $.getJSON("/captcha/refresh/",
        function(result){
        $('.captcha').attr('src',result['image_url']);
        $('#id_captcha_0').val(result['key']);
        $('.captcha').css("height","35px");
    });
});

$("#id_name").blur(function(){
    var name=$("#id_name").val();
    name = name.replace(/^\s\s*/,'').replace(/\s\s*$/,'');
    if(name==null || name==""){
        $("#error_info").css('color','red').html("用户名不能为空！");
    }else if(name.length<2 || name.length>20){
        $("#error_info").css('color','red').html("用户名的长度需大于1小于10");
    }else{
    /*$.ajax({
        type:"GET",
        url:"{% url 'register' %}",
        data:{"name":name},
        success:callBack
    });*/
    $.get("{% url 'register' %}",{"name":name},callBack);
    }
    function callBack(datas){
            if(datas==1){
                $("#id_name").attr('placeholder','请输入用户名');
                $("#error_info").css('color','red').html("此用户名已被注册，请更换其他用户名！");
            }else{
                $("#error_info").css('color','green').html("此用户名可以注册！");
            }
        }
});
$("#id_password").blur(function(){
    var password = $("#id_password").val();
    if(password==null || password==""){
        $("#error_info").css('color','red').html("密码不能为空！");
    }else if(password.length<6 || password.length>18){
        $("#error_info").css('color','red').html("密码长度需为6--18位！");
    }else{
        $("#error_info").css('color','green').html("欢迎！");
    }
});
$("#id_passwordr").blur(function(){
    var password = $("#id_password").val();
    if($("#id_passwordr").val()!=password){
        $("#error_info").css('color','red').html("两次密码输入不一致！");
    }else if(password.length<6){
        $("#error_info").css('color','red').html("密码长度需为6--18位！");
    }else{
        $("#error_info").css('color','green').html("欢迎！");
    }
});


window.requestAnimFrame = (function(){
  return  window.requestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.mozRequestAnimationFrame    ||
    window.oRequestAnimationFrame      ||
    window.msRequestAnimationFrame     ||
    function( callback ){
    window.setTimeout(callback, 1000 / 60);
  };
})();

var canvas = document.getElementsByTagName("canvas")[0];
var ctx = canvas.getContext("2d");
var w = $(document).width();
var h = $(document).height();
canvas.width = w;
canvas.height = h;

var mols = [];

function init(){
  for(var i=0;i<18;i++){
    var mol = new generate_mol("C8H10N4O2");
    mols.push(mol);
    var mol = new generate_mol("C6H6O");
    mols.push(mol);
    var mol = new generate_mol("C6H6");
    mols.push(mol);
  }
}

function draw(){
  canvas.width = canvas.width;
  for(var i=0;i<mols.length;i++){
    var m = mols[i];
    m.x += m.vx;
    if(m.x >= w-100 || m.x <= 0){
      m.vx = -m.vx;
    }
    m.y += m.vy;
    if(m.y >= h-100 || m.y <= 0){
      m.vy = -m.vy;
    }

    m.r += 0.005;
    m.draw();
  }
}

function generate_mol(mol){
  this.x = Math.random()*w;
  this.y = Math.random()*h;
  this.vx = Math.random()*-2;
  this.vy = Math.random()*2;
  this.vr = 0.1;
  this.r = Math.random()*Math.PI;
  this.draw = function(){
    if(mol == "C6H6O"){
      //Phenol
      ctx.save();
      ctx.translate(this.x+20,this.y+80);
      ctx.rotate(this.r);
      ctx.translate(-this.x+20,-this.y-80);
      ctx.beginPath();
      ctx.moveTo(this.x,this.y + 5);
      ctx.lineTo(this.x,this.y + 30);
      ctx.lineTo(this.x - 26,this.y + 45);
      ctx.lineTo(this.x - 26,this.y + 75);
      ctx.lineTo(this.x,this.y + 90);
      ctx.lineTo(this.x + 26,this.y + 75);
      ctx.lineTo(this.x + 26,this.y + 45);
      ctx.lineTo(this.x,this.y + 30);
      ctx.moveTo(this.x - 20,this.y + 47);
      ctx.lineTo(this.x - 20,this.y + 73);
      ctx.moveTo(this.x,this.y + 83);
      ctx.lineTo(this.x + 22,this.y + 70);
      ctx.moveTo(this.x,this.y + 36);
      ctx.lineTo(this.x + 22,this.y + 49);
      ctx.strokeStyle = "rgba(255,255,255,0.2)";
      ctx.lineWidth = 3;
      ctx.stroke();
      ctx.fillStyle = "rgba(255,255,255,0.2)";
      ctx.font = "15px Arial";
      ctx.fillText("OH", this.x - 5, this.y);
      ctx.closePath();
      ctx.restore();
    }
    else if(mol == "C8H10N4O2"){
      //Caffeine
      ctx.save();
      ctx.translate(this.x+20,this.y+80);
      ctx.rotate(this.r);
      ctx.translate(-this.x+20,-this.y-80);
      ctx.beginPath();
      ctx.moveTo(this.x,this.y + 5);
      ctx.lineTo(this.x,this.y + 22);
      ctx.moveTo(this.x-9,this.y + 35);
      ctx.lineTo(this.x - 26,this.y + 45);
      ctx.lineTo(this.x - 26,this.y + 75);
      ctx.lineTo(this.x,this.y + 90);
      ctx.lineTo(this.x + 18,this.y + 80);
      ctx.moveTo(this.x + 26,this.y + 68);
      ctx.lineTo(this.x + 26,this.y + 45);
      ctx.lineTo(this.x + 9,this.y + 35);
      ctx.moveTo(this.x - 20,this.y + 47);
      ctx.lineTo(this.x - 20,this.y + 73);
      ctx.moveTo(this.x + 23,this.y + 42);
      ctx.lineTo(this.x + 36,this.y + 32);
      ctx.moveTo(this.x + 26,this.y + 46);
      ctx.lineTo(this.x + 39,this.y + 36);
      ctx.moveTo(this.x + 34,this.y + 81);
      ctx.lineTo(this.x + 48,this.y + 90);
      ctx.moveTo(this.x - 2,this.y + 88);
      ctx.lineTo(this.x - 2,this.y + 110);
      ctx.moveTo(this.x + 3,this.y + 88);
      ctx.lineTo(this.x + 3,this.y + 110);
      ctx.moveTo(this.x - 26,this.y + 45);
      ctx.lineTo(this.x - 46,this.y + 38);
      ctx.moveTo(this.x - 60,this.y + 44);
      ctx.lineTo(this.x - 74,this.y + 58);
      ctx.lineTo(this.x - 61,this.y + 77);
      ctx.moveTo(this.x - 58,this.y + 49);
      ctx.lineTo(this.x - 68,this.y + 59);
      ctx.moveTo(this.x - 46,this.y + 82);
      ctx.lineTo(this.x - 26,this.y + 73);
      ctx.moveTo(this.x - 60,this.y + 86);
      ctx.lineTo(this.x - 70,this.y + 100);
      ctx.strokeStyle = "rgba(255,255,255,0.2)";
      ctx.lineWidth = 3;
      ctx.stroke();
      ctx.fillStyle = "rgba(255,255,255,0.2)";
      ctx.font = "15px Arial";
      ctx.fillText("CH", this.x - 5, this.y);
      ctx.fillText("3", this.x + 18, this.y+6);
      ctx.fillText("N", this.x - 5, this.y+37);
      ctx.fillText("O", this.x + 38, this.y+35);
      ctx.fillText("N", this.x + 21, this.y+81);
      ctx.fillText("CH", this.x + 50, this.y+99);
      ctx.fillText("3", this.x + 72, this.y+105);
      ctx.fillText("O", this.x - 5, this.y+124);
      ctx.fillText("N", this.x - 59, this.y+42);
      ctx.fillText("N", this.x - 59, this.y+84);
      ctx.fillText("H  C", this.x - 98, this.y+114);
      ctx.fillText("3", this.x - 87, this.y+119);
      ctx.closePath();
      ctx.restore();
    }
    else if(mol == "C6H6"){
      //Benzene
      ctx.save();
      ctx.translate(this.x+20,this.y+80);
      ctx.rotate(this.r);
      ctx.translate(-this.x+20,-this.y-80);
      ctx.beginPath();
      ctx.moveTo(this.x,this.y + 30);
      ctx.lineTo(this.x - 26,this.y + 45);
      ctx.lineTo(this.x - 26,this.y + 75);
      ctx.lineTo(this.x,this.y + 90);
      ctx.lineTo(this.x + 26,this.y + 75);
      ctx.lineTo(this.x + 26,this.y + 45);
      ctx.lineTo(this.x,this.y + 30);
      ctx.moveTo(this.x - 20,this.y + 47);
      ctx.lineTo(this.x - 20,this.y + 73);
      ctx.moveTo(this.x,this.y + 83);
      ctx.lineTo(this.x + 22,this.y + 70);
      ctx.moveTo(this.x,this.y + 36);
      ctx.lineTo(this.x + 22,this.y + 49);
      ctx.strokeStyle = "rgba(255,255,255,0.2)";
      ctx.lineWidth = 3;
      ctx.stroke();
      ctx.closePath();
      ctx.restore();
    }
  }
}

init();

function animloop() {
  draw();
  requestAnimFrame(animloop);
}

$(function(){
	layui.use(['layer', 'form'], function() {
		var layer = layui.layer,
			$ = layui.jquery,
			form = layui.form();
	});
});
animloop();

</script>

{% endblock %}