<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>ADS达汇用户指南</title>

<meta name="description" content="" />

<meta name="keywords" content="" />


<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

<style type="text/css">	
	.map_con ul {margin:0px;}
	.map_con li {list-style-type:decimal;height:40px;font-size:20px;color:green;}
	.map_con img {padding-top:0px;padding-left:20px}
</style>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class=""><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class=""><a href="lists_tid=3.html">案例中心</a></li>
							 
							 <li class=""><a href="../qh/index.html">期货手续费</a></li>

				<li class="hover"><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="map_con"> <span class="map_title">ADS达汇用户指南</span></br>

      <ul>
<li><a href="../files/ADS达汇平台介绍.pdf"  target="_blank">ADS达汇平台介绍</a><img src="../files/pdf1.png" ></li>
<li><a href="https://my.ads-securities.com/client-portal-web/zhs/login.html"  target="_blank">ADS达汇用户登入界面</a><img src="../files/login.png" ></li>
<li><a href="https://my.ads-securities.com/client-portal-web/zhs/signup.html?ib=ads06122-4730"  target="_blank">ADS达汇新用户注册界面</a><img src="../files/register.png" ></li>
<li><a href="http://asia.adsprime.com/zhs/landing/deposit-bonus/?utm_source=ra&utm_campaign=ra_promotion_sc&utm_medium=landing_depbonus16&ib=ads06122-4730"  target="_blank">ADS达汇开户优惠活动</a><img src="../files/dollar.png" ></li>
<li><a href="../files/ADS开户指南.pdf"  target="_blank">ADS达汇开户指南帮助文档</a><img src="../files/pdf1.png" width="32" height="32"></li>
<li><a href="../files/入金指南.pdf"  target="_blank" >ADS达汇入金指南</a><img src="../files/pdf1.png" width="32" height="32"></li>
<li><a href="../files/跟单协议.pdf"  target="_blank" >ADS达汇跟单协议文件</a><img src="../files/pdf1.png" width="32" height="32"></li>
<li><a href="https://download.mql5.com/cdn/web/ads.securities.llc/mt4/asia_adss4setup.exe">电脑MT4软件下载</a><img src="../files/dl.png" width="32" height="32"></li>
<li><a href="https://itunes.apple.com/cn/app/metatrader-4/id496212596?server=ADSS-Demo,ADSS-Live1" target="_blank">手机MT4软件下载---苹果iphone手机</a><img src="../files/apple.png" ></li>
<li><a href="http://files.metaquotes.net/metaquotes.software.corp/mt4/metatrader4.apk"  >手机MT4软件下载---安卓系统手机</a><img src="../files/android.png" ></li>
<li><a href="https://help.alipay.com/lab/help_detail.htm?help_id=211661"  target="_blank">各银行的网上银行支付限额总表</a><img src="../files/bank.png" ></li>
</ul>

    </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

