<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>新闻资讯</title>

<meta name="description" content="" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class="hover"><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class=""><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

            <li class=""><a href="lists_tid=8.html">公司动态 </a><span></span></li>

            <li class=""><a href="lists_tid=9.html">投资新闻</a><span></span></li>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con"> 

           <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=14">土耳其里拉暴跌再创新低 美国或将对其实施制裁</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=14'">凤凰国际iMarkets讯北京时间8月2日消息，据彭博报道，土耳其里拉兑美元汇率暴跌，再创新低，因美国有可能对这个北约盟国施加前所未有的惩罚。　　里拉兑美元一度下跌1.7%，至4.9979，逼近5.00的关键水平。此前两位知情人士透露，美国已经准备好了一份土耳其实体和个人的目标名单，以备美国政府决定......</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=13">美国国会收紧外国投资审查 枪口瞄准了中国</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=13'">美国国会收紧外国投资审查枪口瞄准了中国　　凤凰国际iMarkets讯北京时间8月2日彭博社消息，美国参议院批准了加强审查外国对美投资的法案，科技、房地产等行业的交易将面临更严格的审查。　　美国国会向总统唐纳德·特朗普呈送一份法案，扩大对外国投资的国家安全审查，为科技和房地产行业的交易设置了新的障碍。......</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=12">美国大空头出手 中国企业惨遭重创！股价暴跌37%</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=12'">曾做空港股上市公司新秀丽的空头，又盯上了一家在美上市中概股。　　中国数据中心基础设施和服务提供商万国数据（GDSHoldingsLtd）股价在美股市场周二的盘中一度暴跌40.5%，最终收跌37.2%，市值在一个交易日内蒸发16.2亿美元（约111亿元）。沽空公司BlueOrca当地时间7月31日发布......</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=11">工银国际：美联储货币政策松紧适度激活内生增长动力</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=11'">　&nbsp;美联储在北京时间2日凌晨宣布，将联邦基金利率目标区间维持在1.75%至2%的水平，符合市场普遍预期。美联储同时重申将继续渐进加息。　　工银国际首席经济学家程实及工银国际高级经济学家钱智俊针对美联储的政策决定评论称，美联储的淡定从容，恰恰源于“快加息加慢缩表”实现了货币政策的“松紧适度”......</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=10">日本大企业2018财年设备投资继续增加</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=10'">新华社东京8月2日电（记者钱铮　马曹冉）日本政策投资银行1日发布的数据显示，日本大企业2018财年（截至明年3月）计划中的国内设备投资额比上一财年增加21．6%，为1980财年以来最高增幅。　　如按计划完成，日本大企业设备投资将连续第七年实现增长。　　根据日本政策投资银行当天发布的《全国设备投资计划......</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=9">美国税改吸引海外现金回流 美债利率破3%</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=9'">昨日（8月1日），美联储决定维持利率不变，符合市场预期，但是声明肯定了美国经济强劲的表现，重申渐进加息，9月加息基本上“板上钉钉”。在美联储声明公布后，美元走势震荡，美股上涨，10年期美债收益率重回3%上方。　　美国10年期国债收益率在时隔两个月之后，再次突破3%红线。作为全球无风险利率的标准，随着......</dd>

      </dl>

            </div>

    <div class="page"> <span class="disabled">上一页</span> <span class="current">1</span><a href="lists_tid=2&amp;page=2" class="tcdNumber.html">下一页</a> 共<strong>2</strong>页&nbsp;<strong>9</strong>条</div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

