<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>企业文化</title>

<meta name="description" content="" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class="hover"><a href="lists_tid=1.html">关于我们</a></li>

               <li class=""><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class=""><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

            <li class=""><a href="lists_tid=6.html">公司简介</a><span></span></li>

            <li class="hover"><a href="lists_tid=7.html">企业文化</a><span></span></li>

            <li class=""><a href="lists_tid=10.html">企业理念</a><span></span></li>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="about_con clearfix"> <p>核心价值观：诚信、创新、服务</p><p>企业核心： 诚信&nbsp;</p><p>企业精神： 团结拼搏、开拓求实、满足用户、科技进步。</p><p>&nbsp;</p><p>客户：为客户提供高质量和最大价值的专业化产品和服务，以真诚和实力赢得客户的理解、尊重和支持。</p><p>市场：为客户降低采购成本和风险，为客户投资提供切实保障。&nbsp;</p><p>发展：追求永续发展的目标，并把它建立在客户满意的基础上。</p><p>&nbsp;</p><p>关于“为合作伙伴创造价值”</p><p>公司认为客户、供应商、公司股东、公司员工等一切和自身有合作关系的单位和个人都是自己的合作伙伴，并只有通过努力为合作伙伴创造价值，才能体现自身的价值并获得发展和成功。</p><p>关于“诚实、宽容、创新、服务”</p><p>公司认为诚信是一切合作的基础，宽容是解决问题的前提，创新是发展事业的利器，服务是创造价值的根本。公司会坚持持续改进、满足顾客期望、 确保品质第一、开拓全球市场。</p><p><br/></p>  </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

