<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>公司动态</title>

<meta name="description" content="" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class="hover"><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class=""><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

            <li class="hover"><a href="lists_tid=8.html">公司动态 </a><span></span></li>

            <li class=""><a href="lists_tid=9.html">投资新闻</a><span></span></li>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con"> 

           <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=10">日本大企业2018财年设备投资继续增加</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=10'">新华社东京8月2日电（记者钱铮　马曹冉）日本政策投资银行1日发布的数据显示，日本大企业2018财年（截至明年3月）计划中的国内设备投资额比上一财年增加21．6%，为1980财年以来最高增幅。　　如按计划完成，日本大企业设备投资将连续第七年实现增长。　　根据日本政策投资银行当天发布的《全国设备投资计划......</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=9">美国税改吸引海外现金回流 美债利率破3%</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=9'">昨日（8月1日），美联储决定维持利率不变，符合市场预期，但是声明肯定了美国经济强劲的表现，重申渐进加息，9月加息基本上“板上钉钉”。在美联储声明公布后，美元走势震荡，美股上涨，10年期美债收益率重回3%上方。　　美国10年期国债收益率在时隔两个月之后，再次突破3%红线。作为全球无风险利率的标准，随着......</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=8">中日“一带一路”学术研讨会在东京举行</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=8'">经济日报―中国经济网东京8月2日讯（记者苏海河）由中日两国学术界共同举办的“一带一路”学术研讨会今天在东京日本专修大学举行。“一带一路”日本研究中心、中国社科院中国边疆研究所专家及日本有关大学、研究机构的学者一百多人参加。　　图为“一带一路”学术研讨会现场。　　中国边疆研究所专家王晓鹏博士(11.0......</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=7">北半球持续高温推动澳大利亚煤炭价格升至6年新高</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=7'">由于北半球的持续高温天气，澳大利亚动力煤价格触及6年新高。澳大利亚纽卡斯尔码头的动力煤现货价格最终收于每吨121.75美元，为2012年2月以来的最高点，较4月创下的2018年低点上涨了三分之一。汤森路透Eikon的发电数据显示，为填补用电缺口，部分欧洲公用事业公司已经转向燃煤发电。...</dd>

      </dl>

            <dl class="new_dl">

        <dt class="new_dt"> <span>2018-08-02</span> <a href="view.html?aid=6">新华社：美欧贸易协议内容空洞未解决汽车关税威胁</a> <em></em> </dt>

        <dd class="new_dd" onclick="window.location.href='/home/Article/view.html?aid=6'">欧盟委员会1日发布的最新统计报告显示，在截至7月末的2018／2019销售年度前5周里，欧盟从美国进口的大豆同比增长了283%。分析人士认为，欧盟从美国进口大豆的大幅增长与美欧贸易协议关系不大，是“市场力量”驱动，而非政府指令导致。而美欧贸易协议内容空洞，并未有效解决汽车关税威胁问题。　　为换取美国......</dd>

      </dl>

            </div>

    <div class="page"> 共<strong>1</strong>页&nbsp;<strong>5</strong>条</div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

