<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>土耳其里拉暴跌再创新低 美国或将对其实施制裁</title>

<meta name="description" content="凤凰国际iMarkets讯北京时间8月2日消息，据彭博报道，土耳其里拉兑美元汇率暴跌，再创新低，因美国有可能对这个北约盟国施加前所未有的惩罚。　　里拉兑美元一度下跌1.7%，至4.9979，逼近5.00的关键水平。此前两位知情人士透露，美国已经准备好了一份土耳其实体和个人的目标名单，以备美国政府决定对土耳其埃尔多安政府实施制裁。制裁旨在惩罚土耳其扣押美国公民和外交使团成员的行为。　　鉴于其庞大的外部融资需求，土耳其仍然特别容易受到投资者情绪转变的影响。这种制裁引发的资本流入放缓可能会打击里拉汇率。　　“对土耳其经济来说，这显然是非常棘手的时刻，”伦敦BlueBay资产管理公司的策略师TimothyAsh表示。“时机不能更糟，或许这也会让美国认真思考是否真的动手。”　　由于通胀加速侵蚀了土耳其资产的实际收益率，打击了公司偿还外债的能力，里拉兑美元汇率今年下跌超过五分之一。" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class="hover"><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class=""><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

            <li class=""><a href="lists_tid=8.html">公司动态 </a><span></span></li>

            <li class="hover"><a href="lists_tid=9.html">投资新闻</a><span></span></li>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con">

      <div class="new_xq">

        <div class="new_title">

          <p>土耳其里拉暴跌再创新低 美国或将对其实施制裁</p>

          <span>2018-08-02</span> </div>

        <div class="newxq_con new_p">

          <p><p>凤凰国际iMarkets讯 北京时间8月2日消息，据彭博报道，土耳其里拉兑美元汇率暴跌，再创新低，因美国有可能对这个北约盟国施加前所未有的惩罚。</p><p>　　里拉兑美元一度下跌1.7%，至4.9979，逼近5.00的关键水平。此前两位知情人士透露，美国已经准备好了一份土耳其实体和个人的目标名单，以备美国政府决定对土耳其埃尔多安政府实施制裁。制裁旨在惩罚土耳其扣押美国公民和外交使团成员的行为。</p><p>　　鉴于其庞大的外部融资需求，土耳其仍然特别容易受到投资者情绪转变的影响。这种制裁引发的资本流入放缓可能会打击里拉汇率。</p><p>　　“对土耳其经济来说，这显然是非常棘手的时刻，”伦敦BlueBay资产管理公司的策略师Timothy Ash表示。“时机不能更糟，或许这也会让美国认真思考是否真的动手。”</p><p>　　由于通胀加速侵蚀了土耳其资产的实际收益率，打击了公司偿还外债的能力，里拉兑美元汇率今年下跌超过五分之一。</p><p><br/></p></p>

        </div>

      </div>

      <div class="sx">

        <p><a href="view.html?aid=13">上一篇：美国国会收紧外国投资审查 枪口瞄准了中国</a> </p>

        <br/>

        <p>下一篇：没有了</p>

      </div>

    </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

