<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>工银国际：美联储货币政策松紧适度激活内生增长动力</title>

<meta name="description" content="　&nbsp;美联储在北京时间2日凌晨宣布，将联邦基金利率目标区间维持在1.75%至2%的水平，符合市场普遍预期。美联储同时重申将继续渐进加息。　　工银国际首席经济学家程实及工银国际高级经济学家钱智俊针对美联储的政策决定评论称，美联储的淡定从容，恰恰源于“快加息加慢缩表”实现了货币政策的“松紧适度”，进而激活了美国内生增长动力。　　工银国际认为，2018年年初至今，在“快加息”的引导下，美国内生增长的正向循环初步构建，为消费主引擎注入持续动力；特朗普税改向“里根模式”趋近，有望释放出较好的长期刺激效果。而得益于“慢缩表”，美国国内流动性仍然保持相对充裕，为经济复苏的不确定性提供了缓冲垫。同时，当前收益率曲线的平坦化并非经济衰退的先兆，并不值得忧虑。　　有鉴于此，两位经济学家维持此前预判，2018年，美联储将维持“快加息加慢缩表”的政策搭配，全年加息次数将达到四次，后两次加息将大概率发生在9月、12月。美国经济全年增速有望升至3%以上，并伴随核心通胀的稳步提振，因此美国市场股强于债的格局不会动摇。　　此外，该机构还认为，美元指数走势静待转折。加息预期“从三到四”的转变，是美元指数本轮上行" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class="hover"><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class=""><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

            <li class=""><a href="lists_tid=8.html">公司动态 </a><span></span></li>

            <li class="hover"><a href="lists_tid=9.html">投资新闻</a><span></span></li>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con">

      <div class="new_xq">

        <div class="new_title">

          <p>工银国际：美联储货币政策松紧适度激活内生增长动力</p>

          <span>2018-08-02</span> </div>

        <div class="newxq_con new_p">

          <p><p>　 &nbsp;美联储在北京时间2日凌晨宣布，将联邦基金利率目标区间维持在1.75%至2%的水平，符合市场普遍预期。美联储同时重申将继续渐进加息。</p><p>　　工银国际首席经济学家程实及工银国际高级经济学家钱智俊针对美联储的政策决定评论称，美联储的淡定从容，恰恰源于“快加息加慢缩表”实现了货币政策的“松紧适度”，进而激活了美国内生增长动力。</p><p>　　工银国际认为，2018年年初至今，在“快加息”的引导下，美国内生增长的正向循环初步构建，为消费主引擎注入持续动力；特朗普税改向“里根模式”趋近，有望释放出较好的长期刺激效果。而得益于“慢缩表”， 美国国内流动性仍然保持相对充裕，为经济复苏的不确定性提供了缓冲垫。同时，当前收益率曲线的平坦化并非经济衰退的先兆，并不值得忧虑。</p><p>　　有鉴于此，两位经济学家维持此前预判，2018年，美联储将维持“快加息加慢缩表”的政策搭配，全年加息次数将达到四次，后两次加息将大概率发生在9月、12月。美国经济全年增速有望升至3%以上，并伴随核心通胀的稳步提振，因此美国市场股强于债的格局不会动摇。</p><p>　　此外，该机构还认为，美元指数走势静待转折。加息预期“从三到四”的转变，是美元指数本轮上行的主动力。随着美联储加息信号的明确，预期转变也已经被市场消化殆尽，因此下半年美元指数随时可能耗尽上行动力，渐次转入下行通道。新兴市场货币在继续承受一段时间的压力后，有望迎来回调。</p><p><br/></p></p>

        </div>

      </div>

      <div class="sx">

        <p>上一篇：没有了</p>

        <br/>

        <p><a href="view.html?aid=12">下一篇：美国大空头出手 中国企业惨遭重创！股价暴跌37%</a> </p>

      </div>

    </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

