<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>美国国会收紧外国投资审查 枪口瞄准了中国</title>

<meta name="description" content="美国国会收紧外国投资审查枪口瞄准了中国　　凤凰国际iMarkets讯北京时间8月2日彭博社消息，美国参议院批准了加强审查外国对美投资的法案，科技、房地产等行业的交易将面临更严格的审查。　　美国国会向总统唐纳德·特朗普呈送一份法案，扩大对外国投资的国家安全审查，为科技和房地产行业的交易设置了新的障碍。　　参议院周三以87-10的投票结果最终批准了这份法案，为担心中国收购美国技术的立法和行政部门官员长达数月的角力画上句号。这是众议院上周通过的7170亿美元防务政策法案的一部分，预计特朗普将签署该法案。　　特朗普在6月份支持《外国投资风险评估现代化法案》，以此遏制中国投资，而不是依赖于极少使用的紧急事态法律。　　该法案赋予美国财政部牵头的外国投资委员会（CFIUS）更广泛的权力，以国家安全为由审查并可能阻止外国交易。这可能加剧特朗普与中国的对峙。美国政府指责中国大范围侵犯美国的知识产权。　　华盛顿Stroock&amp;Stroock&amp;LavanLLP律师事务所的律师AnneSalladin表示，虽然该法案没有指出需要特别审查的国家，但来自一些国家——特别是中国——的投资者，在关键技术和国会认定需要" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class="hover"><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class=""><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

            <li class=""><a href="lists_tid=8.html">公司动态 </a><span></span></li>

            <li class="hover"><a href="lists_tid=9.html">投资新闻</a><span></span></li>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con">

      <div class="new_xq">

        <div class="new_title">

          <p>美国国会收紧外国投资审查 枪口瞄准了中国</p>

          <span>2018-08-02</span> </div>

        <div class="newxq_con new_p">

          <p><p>美国国会收紧外国投资审查 枪口瞄准了中国</p><p>　　凤凰国际iMarkets讯 北京时间8月2日彭博社消息，美国参议院批准了加强审查外国对美投资的法案，科技、房地产等行业的交易将面临更严格的审查。</p><p>　　美国国会向总统唐纳德·特朗普呈送一份法案，扩大对外国投资的国家安全审查，为科技和房地产行业的交易设置了新的障碍。</p><p>　　参议院周三以87-10的投票结果最终批准了这份法案，为担心中国收购美国技术的立法和行政部门官员长达数月的角力画上句号。这是众议院上周通过的7170亿美元防务政策法案的一部分，预计特朗普将签署该法案。</p><p>　　特朗普在6月份支持《外国投资风险评估现代化法案》，以此遏制中国投资，而不是依赖于极少使用的紧急事态法律。</p><p>　　该法案赋予美国财政部牵头的外国投资委员会（CFIUS）更广泛的权力，以国家安全为由审查并可能阻止外国交易。这可能加剧特朗普与中国的对峙。美国政府指责中国大范围侵犯美国的知识产权。</p><p>　　华盛顿Stroock &amp; Stroock &amp; Lavan LLP律师事务所的律师Anne Salladin表示，虽然该法案没有指出需要特别审查的国家，但来自一些国家—— 特别是中国—— 的投资者，在关键技术和国会认定需要全面审查的其他行业领域的交易，将更难赢得批准。</p><p>　　“该法案将大大扩大CFIUS的职权，”她说。“这方面的现实意义在于，中国等一些国家在某些领域的收购将受到严格审查，某些领域可能实际上已成禁区。”</p><p>　　这项法案对中国以外的外国投资者来说也意味着更艰难的道路，因为审查将变得更长，在关键技术、基础设施和处理敏感个人数据的企业方面，哪怕只是少数股权投资也会备受审查。</p><p><br/></p></p>

        </div>

      </div>

      <div class="sx">

        <p><a href="view.html?aid=12">上一篇：美国大空头出手 中国企业惨遭重创！股价暴跌37%</a> </p>

        <br/>

        <p><a href="view.html?aid=14">下一篇：土耳其里拉暴跌再创新低 美国或将对其实施制裁</a> </p>

      </div>

    </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

