<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>谷歌拟在新加坡再建数据中心</title>

<meta name="description" content="　　据媒体8月1日报道，为满足云服务的市场需求，互联网巨头谷歌将在新加坡建立第三个数据中心，计划于2020年启动并运行。　　2011年，谷歌在新加坡建立了第一个数据中心，并在四年后又增加了一个数据中心。该公司在一篇博客文章中表示，其将在前两栋大楼的基础上，着手建设位于裕廊西的第三座数据中心，并将把对当地数据中心的长期投资增至8.5亿美元。谷歌此前表示，2015年推出第二个数据中心时，投资总额为5亿美元。　　谷歌全球数据中心的副总裁乔·卡瓦表示，此次投资的原因是该地区的用户和使用量迅速增长。他说，“最新一次的调查显示，有超过7000万人在东南亚开始第一次上网经历，使该地区总上网用户超过3.3亿——这比整个美国的人口还要多。”他补充，随着新加坡航空、Go-Jek等越来越多的企业也在不断扩大对云服务的需求。　　7月23日谷歌母公司Alphabet公布的二季报显示，期内公司资本开支达到54.8亿美元，而去年同期仅为24.8亿美元，而据CNBC透露，二季度资本支出几乎翻了一番，是由于谷歌继续为其云服务等产品搭建数据中心所致。在与分析师的电话会议上，Alphabet首席财务官露丝·波拉特还特意提到" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class=""><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class="hover"><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con">

      <div class="new_xq">

        <div class="new_title">

          <p>谷歌拟在新加坡再建数据中心</p>

          <span>2018-08-02</span> </div>

        <div class="newxq_con new_p">

          <p><p>　　据媒体8月1日报道，为满足云服务的市场需求，互联网巨头谷歌将在新加坡建立第三个数据中心，计划于2020年启动并运行。</p><p>　　2011年，谷歌在新加坡建立了第一个数据中心，并在四年后又增加了一个数据中心。该公司在一篇博客文章中表示，其将在前两栋大楼的基础上，着手建设位于裕廊西的第三座数据中心，并将把对当地数据中心的长期投资增至8.5亿美元。谷歌此前表示，2015年推出第二个数据中心时，投资总额为5亿美元。</p><p>　　谷歌全球数据中心的副总裁乔·卡瓦表示，此次投资的原因是该地区的用户和使用量迅速增长。他说，“最新一次的调查显示，有超过7000万人在东南亚开始第一次上网经历，使该地区总上网用户超过3.3亿——这比整个美国的人口还要多。”他补充，随着新加坡航空、Go-Jek等越来越多的企业也在不断扩大对云服务的需求。</p><p>　　7月23日谷歌母公司Alphabet公布的二季报显示，期内公司资本开支达到54.8亿美元，而去年同期仅为24.8亿美元，而据CNBC透露，二季度资本支出几乎翻了一番，是由于谷歌继续为其云服务等产品搭建数据中心所致。在与分析师的电话会议上，Alphabet首席财务官露丝·波拉特还特意提到云计算将成为公司新的增长业务。</p><p><br/></p></p>

        </div>

      </div>

      <div class="sx">

        <p><a href="view.html?aid=15">上一篇：巴菲特刚刚在苹果公司赚了20多亿美元</a> </p>

        <br/>

        <p><a href="view.html?aid=17">下一篇：日兴资产管理表示 日本央行购买ETF步伐或放缓</a> </p>

      </div>

    </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

