<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>印度央行今年第二次上调基准利率</title>

<meta name="description" content="　　受通胀率走高等因素影响，印度央行1日宣布将基准利率上调25个基点至6．5%。这一决定符合市场预期。这也是印度央行今年第二次加息。　　印度央行当天发表声明说，此次加息主要是因为国内通胀压力较大且近期全球贸易形势不确定性增加。印度央行还对国际油价上涨表示担忧，称近期国际油价略有回落但仍处于高位。　　此外，印度央行维持本财年经济增长7．4%的预测不变。　　市场人士此前普遍认为，由于通胀率持续攀升，央行极有可能在本次货币政策会议结束后宣布加息。官方数据显示，6月份通胀率从5月份的4．87%升至5%，为连续第三个月上升。　　今年6月，印度央行宣布上调基准利率25个基点至6．25%，这是印度央行自2014年1月以来首次上调利率。" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class=""><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class="hover"><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con">

      <div class="new_xq">

        <div class="new_title">

          <p>印度央行今年第二次上调基准利率</p>

          <span>2018-08-02</span> </div>

        <div class="newxq_con new_p">

          <p><p>　　受通胀率走高等因素影响，印度央行1日宣布将基准利率上调25个基点至6．5%。这一决定符合市场预期。这也是印度央行今年第二次加息。</p><p>　　印度央行当天发表声明说，此次加息主要是因为国内通胀压力较大且近期全球贸易形势不确定性增加。印度央行还对国际油价上涨表示担忧，称近期国际油价略有回落但仍处于高位。</p><p>　　此外，印度央行维持本财年经济增长7．4%的预测不变。</p><p>　　市场人士此前普遍认为，由于通胀率持续攀升，央行极有可能在本次货币政策会议结束后宣布加息。官方数据显示，6月份通胀率从5月份的4．87%升至5%，为连续第三个月上升。</p><p>　　今年6月，印度央行宣布上调基准利率25个基点至6．25%，这是印度央行自2014年1月以来首次上调利率。</p><p><br/></p></p>

        </div>

      </div>

      <div class="sx">

        <p><a href="view.html?aid=18">上一篇：时隔20年！宝马携10亿欧元重返欧洲投资建厂 为何？</a> </p>

        <br/>

        <p>下一篇：没有了</p>

      </div>

    </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

