<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>巴菲特刚刚在苹果公司赚了20多亿美元</title>

<meta name="description" content="　　凤凰国际iMarkets讯北京时间8月2日消息，据CNBC报道，沃伦·巴菲特今天度过了美好的一天，随着苹果股价大涨，他也财富大涨，刚刚在苹果赚了20多亿美元。　　苹果股价周三上涨5.9%，此前该公司公布第三季度每股盈利2.34美元好于预期，超过汤森路透2.18美元的预期。该公司还发布了高于华尔街预期的9月份财季销售指引。　　根据FactSet的数据，截至3月底，巴菲特旗下的伯克希尔哈撒韦公司持有2.396亿股苹果股票。如果巴菲特自3月底未出售苹果股票，那么该公司的苹果头寸将赚取约23亿美元。　　巴菲特说：“我非常喜欢苹果公司。我们决定持有他们的股票。”　　“我们收购了苹果公司约5%的股份，如果可以的话，我很乐意拥有它100%的股份。我们非常喜欢它的管理层和他们的思维方式。”　　苹果周三收涨5.89%，报201.50美元，创收盘历史新高，市值超过9900亿美元。盘中涨幅一度扩大至6%，报201.76美元，市值达9911.87亿美元，距离1万亿美元大关不到100亿美元。　　截至周三，苹果股价同比上涨19%，标普500指数上涨5%。" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class=""><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class="hover"><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con">

      <div class="new_xq">

        <div class="new_title">

          <p>巴菲特刚刚在苹果公司赚了20多亿美元</p>

          <span>2018-08-02</span> </div>

        <div class="newxq_con new_p">

          <p><p>　　凤凰国际iMarkets讯 北京时间8月2日消息，据CNBC报道，沃伦·巴菲特今天度过了美好的一天，随着苹果股价大涨，他也财富大涨，刚刚在苹果赚了20多亿美元。</p><p>　　苹果股价周三上涨5.9%，此前该公司公布第三季度每股盈利2.34美元好于预期，超过汤森路透2.18美元的预期。该公司还发布了高于华尔街预期的9月份财季销售指引。</p><p>　　根据FactSet的数据，截至3月底，巴菲特旗下的伯克希尔哈撒韦公司持有2.396亿股苹果股票。如果巴菲特自3月底未出售苹果股票，那么该公司的苹果头寸将赚取约23亿美元。</p><p>　　巴菲特说：“我非常喜欢苹果公司。我们决定持有他们的股票。”</p><p>　　“我们收购了苹果公司约5%的股份，如果可以的话，我很乐意拥有它100%的股份。我们非常喜欢它的管理层和他们的思维方式。”</p><p>　　苹果周三收涨5.89%，报201.50美元，创收盘历史新高，市值超过9900亿美元。盘中涨幅一度扩大至6%，报201.76美元，市值达9911.87亿美元，距离1万亿美元大关不到100亿美元。</p><p>　　截至周三，苹果股价同比上涨19%，标普500指数上涨5%。</p><p><br/></p></p>

        </div>

      </div>

      <div class="sx">

        <p>上一篇：没有了</p>

        <br/>

        <p><a href="view.html?aid=16">下一篇：谷歌拟在新加坡再建数据中心</a> </p>

      </div>

    </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

