<!DOCTYPE html>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>日兴资产管理表示 日本央行购买ETF步伐或放缓</title>

<meta name="description" content="　　日兴资产管理公司首席全球策略师约翰·威尔8月1日表示，随着日本央行政策灵活性的增加，如果日本股市继续保持上行趋势，央行每年购买6万亿日元上市交易基金（ETF）的步伐有可能会放慢。　　威尔在接受媒体采访时表示，上述判断可能导致日股市场看涨因素减少，不过如果股市出现下滑，央行的ETF购买量便不会出现变化。他还表示，日本央行决定将适用负利率的银行准备金数额减半，此举对于银行利润构成利好，可以消除整个行业的忧虑，对于银行股和日本股市应会有所帮助。　　威尔表示，日本央行接下来的动向很难判断，但是外汇市场预计该行会推出更趋强硬的措施，进而导致日元走软。　　日本央行于7月31日货币政策会议后发布声明称，“允许长期利率根据经济形势和物价等出现一定程度波动”。日本央行行长黑田东彦在会后的新闻发布会上表示，允许长期利率波动的范围是正负0.2%左右。同时，日本央行还决定调整ETF的购买比例分配。此外，该行还将2018、2019和2020财年的通胀预期悉数下调。" />

<meta name="keywords" content="" />



<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

<link rel="stylesheet" href="css/style.css" />

<link rel="stylesheet" href="css/public.css" />

<script type="text/javascript" src="js/jquery1.9.1.js" ></script>

<script type="text/javascript" src="js/main.js" ></script>

</head>

<body>

<div class="head">

  <div class="logo clearfix">

    <div style="width:66%;margin:0 auto;"> <a href="../index.html" class="logo_img fl"><img src="images/10ea05d1385576f2927c53de76825d08.jpg" /></a>

      <ul class="menu fl" style="width:68%;">

        <li ><a href="../index.html">首页</a></li>

                <li class=""><a href="lists_tid=1.html">关于我们</a></li>

               <li class=""><a href="lists_tid=2.html">新闻资讯</a></li>

               <li class="hover"><a href="lists_tid=3.html">案例中心</a></li>

<li class=""><a href="../qh/index.html">期货手续费</a></li>
<li class=""><a href="adsguide.html">达汇指南</a></li>

               <li class=""><a href="lists_tid=4.html">联系我们</a></li>

               <li class=""><a href="lists_tid=5.html">在线留言</a></li>

             </ul>

    </div>

    <dl class="logo_right fr bdsharebuttonbox" id="fx">

      <dt class="search fr"> </dt>

      <dd class="fx fl"> 

        <a href="#" class="bds_tsina fx1" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_qzone fx2" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_weixin fx3" data-cmd="weixin" title="分享到微信"></a> </dd>

    </dl>

  </div>

</div>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"2","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

</script>

<div class="banner flexslider">

  <ul class="slides">

          <li><a href=""><img src="images/015c7ae57c001cbccea813de7165f3fc.jpg"></a></li>

      </ul>

</div>

<div class="content">

  <div class="ly_title">

    <ul>

          </ul>

  </div>

  <div class="ly_con auto">

    <div class="new_con">

      <div class="new_xq">

        <div class="new_title">

          <p>日兴资产管理表示 日本央行购买ETF步伐或放缓</p>

          <span>2018-08-02</span> </div>

        <div class="newxq_con new_p">

          <p><p>　　日兴资产管理公司首席全球策略师约翰·威尔8月1日表示，随着日本央行政策灵活性的增加，如果日本股市继续保持上行趋势，央行每年购买6万亿日元上市交易基金（ETF）的步伐有可能会放慢。</p><p>　　威尔在接受媒体采访时表示，上述判断可能导致日股市场看涨因素减少，不过如果股市出现下滑，央行的ETF购买量便不会出现变化。他还表示，日本央行决定将适用负利率的银行准备金数额减半，此举对于银行利润构成利好，可以消除整个行业的忧虑，对于银行股和日本股市应会有所帮助。</p><p>　　威尔表示，日本央行接下来的动向很难判断，但是外汇市场预计该行会推出更趋强硬的措施，进而导致日元走软。</p><p>　　日本央行于7月31日货币政策会议后发布声明称，“允许长期利率根据经济形势和物价等出现一定程度波动”。日本央行行长黑田东彦在会后的新闻发布会上表示，允许长期利率波动的范围是正负0.2%左右。同时，日本央行还决定调整ETF的购买比例分配。此外，该行还将2018、2019和2020财年的通胀预期悉数下调。</p><p><br/></p></p>

        </div>

      </div>

      <div class="sx">

        <p><a href="view.html?aid=16">上一篇：谷歌拟在新加坡再建数据中心</a> </p>

        <br/>

        <p><a href="view.html?aid=18">下一篇：时隔20年！宝马携10亿欧元重返欧洲投资建厂 为何？</a> </p>

      </div>

    </div>

  </div>

</div>

<div class="foot">

  <p class="foot_p">地址：东莞市南城区胜和广场A栋9D2   电话：0769-23026589</p>

  <p class="foot_p">Copyright © 2012-2019 凯瑞投资 版权所有<a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备88888888号</a></p>

  <a href="#" class="foot_logo"><img src="images/8de871bfa977c5bc4273c7b90c21c84e.png" /></a> </div>

 

<!-- 应用插件标签 start --> 

  

<!-- 应用插件标签 end -->

</body>

</html>

