<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
            <remove name="StaticFile" />
            <add name="DjangoWebHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\programfiles\anaconda3\python.exe|d:\programfiles\anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\programfiles\anaconda3\python.exe|d:\programfiles\anaconda3\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Script" />
    </handlers>
        <directoryBrowse enabled="true" />
  </system.webServer>

  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="D:\tools\Tools\Carry" />

    <!-- Optional settings -->
    <add key="WSGI_LOG" value="D:\tools\Tools\Carry\log\Carry_CGI.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="DJANGO_SETTINGS_MODULE" value="Carry.settings" />

  </appSettings>
</configuration>